# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.

Flask==0.12.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
PyMySQL==0.8.0

flask_wtf==0.14.2
wtforms==2.1
flask-script==2.0.6
werkzeug==0.14.1
flask_login==0.4.1
enum34==1.1.6
SQLAlchemy==1.2.4
