{% extends 'base.html' %}

{% block content %}
	<div id='home-title-block'>
		<div id='home-title-block-inner'>
			<h1 id='title-home'>Spot <span class='grey light'>Me</span></h1>
			<h2 id='catch'>Find your next workout partner</h2>
		</div>
	</div>
	<div id='login-form-block'>
		<div id='login-form-block-inner'>
			<h3 class='page-title'>Log In</h3>
			<form>
				<div class='form-field'>
					<input type="text" placeholder="username">
				</div>
				<div class='form-field'>
					<input type="text" placeholder="password">
				</div>
				<div class='form-field-submit'>
					<div class='form-left checkbox-field'>
						<input type="checkbox"><span class='check-label'>Remember Me</span>
					</div>
					<div class='form-right'>
						<input type="submit" id='login-submit' value="Submit">
					</div>
					<div class='clear'></div>
				</div>
			</form>
			New to SPOT ME? <a href='/'>Sign Up</a>
		</div>
	</div>
	<div class='clear'></div>
{% endblock %}
