.grey {
  color: #C6C6C6; }

.blue {
  color: #8BC8DB; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  position: relative; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F5F5F5;
  font-weight: 300;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.clear {
  clear: both; }

.weight-light {
  font-weight: 300; }

.weight-med {
  font-weight: 400; }

.weight-bold {
  font-weight: 600; }

.lowercase {
  text-transform: lowercase; }

a:link, a:visited {
  color: #8BC8DB;
  font-weight: 400;
  text-decoration: none; }

a:hover, a:active {
  color: #8D8D8D;
  font-weight: 400; }

.link-2:link, .link-2:visited, .link-2:hover, .link-2:active {
  color: #000; }

input[type="text"], input[type="email"], input[type="password"], input[type="password" i], textarea, input[type="date"], input[type="time"] {
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: 300;
  font-size: 1em;
  border: 1px solid #C6C6C6;
  border-radius: 0px;
  color: #aaa;
  width: 100%;
  padding: 5px 10px; }

textarea {
  resize: none; }

.login {
  width: 100%;
  margin-bottom: 1em; }

form.login .form-field {
  margin: 1em 0; }

.form-field-submit {
  margin-top: 1em; }

.form-left {
  float: left;
  width: 60%;
  vertical-align: bottom; }

.form-right {
  float: right;
  width: 40%;
  vertical-align: bottom;
  text-align: right; }

.checkbox-field {
  margin-top: 10px; }

.validation-error {
  color: #8BC8DB;
  font-weight: 400;
  font-size: .9em; }

.hidden {
  width: 0;
  height: 0;
  border: none;
  padding: none; }

.error-container {
  height: 1.4em; }

.field-inline {
  display: inline-block;
  width: 40%;
  padding-right: 5%; }

.field-inline:last-of-type {
  padding-right: 0; }

.account-field, .event-info .event-field {
  font-size: 1.1em;
  height: 40px; }
  .account-field .label, .event-info .event-field .label {
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1em; }
  .account-field .field, .event-info .event-field .field {
    color: #8D8D8D;
    display: inline-block; }
  .account-field .field-wide, .event-info .event-field .field-wide {
    width: 80%; }
  .account-field .field-textarea, .event-info .event-field .field-textarea {
    width: 80%;
    vertical-align: top; }
  .account-field .validation-error, .event-info .event-field .validation-error {
    font-size: .8em; }

.account-field .validation-error, .event-info .event-field .validation-error, #edit-profile-form .validation-error, .edit-day-box .validation-error {
  font-size: .8em; }
.account-field input[type="text"], .account-field input[type="date"], .account-field input[type="time"], .account-field textarea, .account-field select, .event-info .event-field input[type="text"], .event-info .event-field input[type="date"], .event-info .event-field input[type="time"], .event-info .event-field textarea, .event-info .event-field select, #edit-profile-form input[type="text"], #edit-profile-form input[type="date"], #edit-profile-form input[type="time"], #edit-profile-form textarea, #edit-profile-form select, .edit-day-box input[type="text"], .edit-day-box input[type="date"], .edit-day-box input[type="time"], .edit-day-box textarea, .edit-day-box select {
  padding: 0;
  border: none;
  border-bottom: 1px solid #E2E2E2;
  width: 100%; }
.account-field .select-box, .event-info .event-field .select-box, #edit-profile-form .select-box, .edit-day-box .select-box {
  width: 100%;
  background: url("down_arrow.png") no-repeat 95% center;
  background-color: #fff; }
.account-field .select-box select, .event-info .event-field .select-box select, #edit-profile-form .select-box select, .edit-day-box .select-box select {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
  -webkit-appearance: none; }

#edit-profile-form input[type="submit"] {
  display: inline-block;
  width: inherit;
  padding: 5px 10px; }
#edit-profile-form textarea {
  height: 100%;
  resize: none; }

#edit-profile-form .select-box select, .edit-day-box .select-box select {
  font-size: 1em;
  font-weight: 300;
  color: #aaa; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 490px) {
  .account-field .field-inline, .event-info .event-field .field-inline {
    width: 35%; } }
@media only screen and (max-width: 375px) {
  .account-field, .event-info .event-field {
    height: 60px; }
    .account-field .label, .event-info .event-field .label {
      display: block; }
    .account-field .field, .event-info .event-field .field {
      display: block; }
    .account-field .field-wide, .event-info .event-field .field-wide {
      width: 100%; }
    .account-field .field-textarea, .event-info .event-field .field-textarea {
      width: 100%; }
    .account-field .field-inline, .event-info .event-field .field-inline {
      display: inline-block;
      width: 45%; } }
#home-title-block {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: right; }

#home-title-block-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding-right: 9%; }

#title-home {
  text-transform: uppercase;
  font-size: 3.3em;
  margin: 0 0 .1em;
  letter-spacing: .1em; }

#catch {
  text-transform: lowercase;
  color: #8D8D8D;
  font-weight: 300;
  margin: 0;
  letter-spacing: .1em; }

#login-form-block {
  float: left;
  width: 50%;
  height: 100%;
  position: relative; }

#login-form-block-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 4.5% 5.5%;
  width: 60%;
  background-color: #fff;
  margin-left: 3%; }

#flash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #fff;
  z-index: 1000; }

.flash-list {
  list-style: none;
  padding: 10px 0;
  background-color: #8BC8DB; }

.result {
  padding: 10px 20px; }

nav {
  border-bottom: 1px solid #C6C6C6;
  padding: 1em 3%; }

#nav-left {
  width: 34%;
  display: inline-block; }

#nav-right {
  width: 65%;
  text-align: right;
  vertical-align: bottom;
  display: inline-block; }

#nav-title {
  font-size: 2em;
  text-transform: uppercase;
  display: inline-block; }

#nav-title-1 {
  font-weight: 400;
  color: #000; }

#nav-title-2 {
  font-weight: 300;
  color: #C6C6C6; }

.nav-list {
  list-style: none;
  padding: 0; }

.nav-item {
  display: inline-block;
  margin-left: 25px;
  position: relative; }

.notification-overlay {
  position: absolute;
  width: 150%;
  height: 150%;
  z-index: 500;
  background: transparent;
  top: -50%;
  left: 0; }

.nav-icon {
  height: 22px;
  width: auto; }

.nav-item:hover {
  cursor: pointer; }

.notification-count {
  position: absolute;
  background-color: #8BC8DB;
  border-radius: 100%;
  font-size: 0.8em;
  color: #fff;
  font-weight: 600;
  width: 1.6em;
  height: 1.6em;
  top: -50%;
  right: -20%;
  text-align: center; }

#drop-down-menu {
  display: none;
  background-color: #fff;
  width: 200px;
  right: 3%;
  top: 76px;
  transform: translateX(0%);
  z-index: 10000; }
  #drop-down-menu ul {
    list-style: none;
    padding: 0; }
    #drop-down-menu ul a:link, #drop-down-menu ul a:visited {
      color: #8BC8DB; }
    #drop-down-menu ul a:hover, #drop-down-menu ul a:active {
      color: #8D8D8D; }
    #drop-down-menu ul li {
      border-bottom: 1px solid #E2E2E2;
      text-align: center;
      padding: 1em;
      text-transform: uppercase;
      font-size: 1.1em; }

.nav-item-alt {
  display: inline-block;
  margin-left: 30px;
  font-weight: 400;
  color: #8BC8DB;
  text-transform: uppercase;
  font-size: 1.05em; }

.nav-item-alt:hover {
  cursor: pointer; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 736px) {
  #drop-down-menu {
    width: 100%;
    right: 0; } }
@media only screen and (max-width: 480px) {
  .nav-item {
    margin-left: 20px; }

  .nav-icon {
    height: 18px;
    width: auto; }

  #nav-right {
    width: 64%; }

  #nav-title {
    font-size: 1.8em; }

  .notification-count {
    top: -70%;
    right: -40%; } }
@media only screen and (max-width: 375px) {
  .nav-item {
    margin-left: 15px; }

  #nav-title {
    font-size: 1.6em; } }
@media only screen and (max-width: 355px) {
  .nav-item {
    margin-left: 20px; }

  #nav-title {
    font-size: 1.8em; }

  #nav-left, #nav-right {
    width: 100%;
    display: block;
    text-align: center; }

  #nav-right {
    margin-top: 25px; } }
.col {
  display: inline-block;
  vertical-align: top;
  padding: 10px; }

.profile-text-top-left {
  display: inline; }

.profile-left-col {
  width: 29%;
  padding-right: 5%; }

.profile-right-col {
  width: 70%; }
  .profile-right-col .block {
    margin-bottom: 1em; }
  .profile-right-col #profile-box {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff; }
    .profile-right-col #profile-box .inline-buttons {
      padding: 0; }
      .profile-right-col #profile-box .inline-buttons #cancel-edit {
        display: inline-block;
        font-weight: 400; }
  .profile-right-col #main-profile-info {
    background-color: #fff; }
  .profile-right-col #main-profile-info .left, .profile-right-col #profile-box .left {
    width: 39%; }
  .profile-right-col #main-profile-info .right, .profile-right-col #profile-box .right {
    width: 55%;
    margin-left: 4%;
    text-align: left; }
  .profile-right-col #main-profile-info .col, .profile-right-col #profile-box .col {
    vertical-align: top; }
    .profile-right-col #main-profile-info .col .profile-field, .profile-right-col #profile-box .col .profile-field {
      display: inline-block;
      vertical-align: top;
      color: #aaa; }
    .profile-right-col #main-profile-info .col .profile-skills .profile-label, .profile-right-col #main-profile-info .col .profile-location .profile-label, .profile-right-col #main-profile-info .col .profile-work .profile-label, .profile-right-col #profile-box .col .profile-skills .profile-label, .profile-right-col #profile-box .col .profile-location .profile-label, .profile-right-col #profile-box .col .profile-work .profile-label {
      display: inline-block;
      width: 100px;
      vertical-align: top; }
    .profile-right-col #main-profile-info .col .profile-skills .profile-field, .profile-right-col #profile-box .col .profile-skills .profile-field {
      width: 60%; }
    .profile-right-col #main-profile-info .col .profile-interests .profile-field, .profile-right-col #profile-box .col .profile-interests .profile-field {
      text-transform: capitalize; }
    .profile-right-col #main-profile-info .col .profile-interests .profile-label, .profile-right-col #main-profile-info .col .profile-about .profile-label, .profile-right-col #main-profile-info .col .profile-meet .profile-label, .profile-right-col #profile-box .col .profile-interests .profile-label, .profile-right-col #profile-box .col .profile-about .profile-label, .profile-right-col #profile-box .col .profile-meet .profile-label {
      margin-bottom: 0.5em; }
    .profile-right-col #main-profile-info .col .profile-interests .profile-field, .profile-right-col #main-profile-info .col .profile-about .profile-field, .profile-right-col #main-profile-info .col .profile-meet .profile-field, .profile-right-col #profile-box .col .profile-interests .profile-field, .profile-right-col #profile-box .col .profile-about .profile-field, .profile-right-col #profile-box .col .profile-meet .profile-field {
      height: 80px;
      width: 100%; }

.profile-availability .weekdays {
  margin: 0 auto; }
.profile-availability .daybox-grey {
  background-color: #C6C6C6; }
.profile-availability .daybox-blue {
  background-color: #8BC8DB; }
.profile-availability .day-box {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 14px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1; }
  .profile-availability .day-box .letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none; }
  .profile-availability .day-box #button {
    background-color: #C6C6C6;
    color: #aaa; }
  .profile-availability .day-box .avail_user {
    width: 170px;
    height: 120px;
    background-color: #E2E2E2;
    color: #000;
    text-align: center;
    padding: 2px 0;
    position: absolute;
    z-index: 1000;
    top: -120px;
    left: 50%;
    margin-left: -100px;
    transition: opacity 0.3s;
    font-size: 12px;
    display: none; }
    .profile-availability .day-box .avail_user #label {
      font-size: 14px; }
  .profile-availability .day-box button {
    padding: 2x 0px; }
.profile-availability .edit-day-box {
  display: none;
  margin-top: 15px; }

.day-box:last-of-type {
  margin-right: 0; }

#info-edit-button, #avail-edit-button {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

#info-edit-button, #avail-edit-button {
  z-index: 900; }

.profile-cover {
  width: 100%; }

.profile-cover img {
  width: 100%; }

.block {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 1em; }

.profile-basic {
  font-weight: 400; }
  .profile-basic a:link, .profile-basic a:visited, .profile-basic a:hover, .profile-basic a:active {
    color: #000; }

.profile-name {
  display: inline-block;
  width: 69%;
  text-transform: uppercase; }

.profile-age {
  display: inline-block;
  width: 29%;
  color: #aaa;
  text-align: right; }

.connections-count {
  color: #8BC8DB;
  font-size: 0.9em; }

.profile-label {
  font-weight: 400;
  text-transform: uppercase;
  color: #000; }

.availability-info {
  position: relative;
  background-color: #fff;
  margin-bottom: 1em; }

.edit-profile-info {
  position: relative;
  height: 290px;
  padding: 10px;
  overflow: hidden; }

.profile-buttons {
  margin-bottom: 1em; }

.profile-buttons button {
  padding: 5px 20px; }

#connect-btn {
  display: inline-block;
  float: left; }

.profile-buttons button:last-of-type {
  float: right; }

.profile-friends {
  margin-top: 15px; }
  .profile-friends ul {
    list-style: none;
    padding: 0;
    margin-top: 1em; }
  .profile-friends .friend-thumb {
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 3%; }

.content {
  padding: 50px; }

.left, .middle {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.right {
  display: inline-block;
  text-align: right;
  vertical-align: middle; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 667px) {
  .content {
    margin: 30px; } }
@media only screen and (max-width: 568px) {
  .content {
    margin: 20px; } }
@media only screen and (max-width: 480px) {
  .content {
    margin: 20px 10px; } }
button {
  background: transparent;
  border: none; }

.button {
  font-family: inherit;
  letter-spacing: .05em;
  font-size: 1em;
  border-radius: 0px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none; }

.button:hover {
  cursor: pointer; }

.button-1, .button-1.disabled:hover {
  background-color: #8BC8DB;
  color: #fff;
  border: 1px solid #8BC8DB;
  font-weight: 600; }

.button-1:hover {
  background-color: #fff;
  color: #8BC8DB;
  border: 1px solid #8BC8DB; }

.button-2, .button-2.disabled:hover {
  background-color: #C6C6C6;
  color: #555555;
  border: 1px solid #C6C6C6; }

.button-2:hover {
  background-color: #D8D8D8;
  color: #555555;
  border: 1px solid #D8D8D8; }

.button-3 {
  background-color: #fff;
  color: #8BC8DB;
  border: 1px solid #8BC8DB;
  font-size: 0.9em;
  font-weight: 600; }

.button-4 {
  background-color: #ff6150;
  color: white;
  border: 1px solid #ff6150;
  font-weight: 600; }

.button-4:hover {
  background-color: #fff;
  color: #ff6150; }

.button-5 {
  background-color: #fff;
  color: #aaa;
  border: 1px solid #aaa; }

.button-5:hover {
  color: #555555;
  border: 1px solid #555555; }

.button-6 {
  background-color: #717171;
  color: #E2E2E2;
  border: 1px solid #717171; }

.disabled:hover {
  cursor: auto; }

.non-btn {
  font-size: 1em;
  font-family: inherit;
  text-align: left; }

.inline-buttons {
  padding: 0 30px 30px; }
  .inline-buttons .button:first-of-type {
    margin-right: 20px; }
  .inline-buttons form {
    display: inline-block; }

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #8BC8DB;
  position: relative; }
  .add-btn .plus-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .add-btn .plus-line-1 {
    width: 60%; }
  .add-btn .plus-line-2 {
    width: 2px;
    height: 60%; }

.add-btn:hover {
  cursor: pointer; }

.drop-down {
  position: absolute;
  background-color: #fff;
  top: 2.75em;
  transform: translateX(-50%);
  display: none;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  width: 250px;
  z-index: 10000; }
  .drop-down ul {
    position: relative;
    text-align: left;
    list-style: none;
    padding: 0; }
    .drop-down ul a:link, .drop-down ul a:visited, .drop-down ul a:hover, .drop-down ul a:active {
      color: #000; }
    .drop-down ul li {
      position: relative;
      padding: 10px 15px;
      border-bottom: 1px solid #E2E2E2;
      text-align: left;
      font-size: 0.9em;
      font-weight: 400; }
      .drop-down ul li .left {
        position: relative; }
        .drop-down ul li .left .friend-thumb {
          width: 50px;
          height: 50px; }
      .drop-down ul li .right {
        position: relative; }

.line {
  position: absolute;
  height: 2px;
  background-color: #8BC8DB; }

#drop-down-messages ul li .left {
  width: 50px; }
#drop-down-messages ul li .right {
  padding: 0 0 0 20px;
  width: 160px;
  text-align: left; }
  #drop-down-messages ul li .right .recent-msg {
    color: #717171;
    height: 1.4em;
    overflow: hidden; }

#drop-down-friends {
  width: 300px; }
  #drop-down-friends ul li .left {
    width: 50px; }
  #drop-down-friends ul li .middle {
    padding: 0 0 0 20px;
    width: 125px; }
  #drop-down-friends ul li .right {
    width: 85px; }
    #drop-down-friends ul li .right .action-icon {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 28px;
      vertical-align: middle;
      margin-left: 10px; }
      #drop-down-friends ul li .right .action-icon #accept-line-1 {
        width: 12px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 36%;
        left: 0; }
      #drop-down-friends ul li .right .action-icon #accept-line-2 {
        width: 25px;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 50%;
        left: 6px; }
      #drop-down-friends ul li .right .action-icon #reject-line-1 {
        width: 28px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 50%;
        left: 0;
        background-color: #C6C6C6; }
      #drop-down-friends ul li .right .action-icon #reject-line-2 {
        width: 28px;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 50%;
        left: 0;
        background-color: #C6C6C6; }
    #drop-down-friends ul li .right .action-icon:hover {
      cursor: pointer; }
      #drop-down-friends ul li .right .action-icon:hover .line {
        opacity: 0.7; }
  #drop-down-friends .delete-friend-request-form, #drop-down-friends .accept-friend-notification {
    float: left; }

.notification-body {
  color: #717171; }

.notification-body:hover {
  cursor: pointer; }

.friend-thumb {
  border-radius: 100%;
  overflow: hidden; }
  .friend-thumb img {
    width: 100%;
    height: 100%; }

.friends .block-title {
  margin: 10px 30px; }
.friends .message {
  margin: 10px 30px; }
.friends ul li {
  display: inline-block;
  margin: 30px; }
  .friends ul li .left {
    margin-right: 20px; }
    .friends ul li .left .friend-thumb {
      display: inline-block;
      width: 100px;
      height: 100px; }
  .friends ul li .right {
    text-align: left; }
    .friends ul li .right .friends-action {
      margin-top: 1em; }
  .friends ul li a:link, .friends ul li a:visited, .friends ul li a:hover, .friends ul li a:active {
    color: #555555; }

#menu-btn {
  height: 22px;
  width: 28px;
  position: relative; }
  #menu-btn .menu-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  #menu-btn #menu-line-1 {
    top: 0;
    left: 0; }
  #menu-btn #menu-line-1.active {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%; }
  #menu-btn #menu-line-2 {
    top: 10px;
    left: 0; }
  #menu-btn #menu-line-2.active {
    opacity: 0; }
  #menu-btn #menu-line-3 {
    top: 20px;
    left: 0; }
  #menu-btn #menu-line-3.active {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 480px) {
  #menu-btn {
    height: 18px;
    width: 24px; }
    #menu-btn #menu-line-2 {
      top: 8px; }
    #menu-btn #menu-line-3 {
      top: 16px; } }
.conversations {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding: 0;
  height: 600; }
  .conversations ul {
    list-style: none;
    padding: 0; }
    .conversations ul li {
      border-bottom: 2px solid #F5F5F5;
      padding: 20px 10px;
      height: 100px; }
      .conversations ul li .friend-thumb {
        width: 60px;
        height: 60px; }
      .conversations ul li .right {
        margin-left: 15px;
        text-align: left;
        width: 60%; }
        .conversations ul li .right .name {
          font-weight: 400; }
        .conversations ul li .right .recent-msg {
          font-weight: 300;
          font-size: 0.9em;
          color: #717171;
          height: 1.4em;
          overflow: hidden; }

.conversation {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 2%; }
  .conversation .conversation-messages {
    height: 450px;
    border-bottom: 2px solid #F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px; }
    .conversation .conversation-messages .message-date {
      font-weight: 400;
      color: #aaa;
      font-size: 0.95em;
      text-align: center;
      margin: 1em 0; }
    .conversation .conversation-messages .message-outer .message {
      border-radius: 10px;
      padding: 15px;
      width: 55%;
      margin: 10px 0;
      font-size: 0.95em; }
    .conversation .conversation-messages .message-outer .message-1 {
      background-color: #8BC8DB;
      color: #fff;
      font-weight: 300;
      float: right; }
    .conversation .conversation-messages .message-outer .message-2 {
      background-color: #E2E2E2;
      color: #000;
      float: left; }
  .conversation .compose-message {
    height: 150px; }
    .conversation .compose-message #new-message-body, .conversation .compose-message #new-message-body-2 {
      height: 100%;
      border: none;
      padding: 10px 20px;
      font-size: 0.95em;
      resize: none; }
  .conversation .friend-search {
    position: relative; }
    .conversation .friend-search .search-drop-down {
      position: absolute;
      top: 40px;
      width: 100%;
      z-index: 500;
      font-size: 0.95em; }
      .conversation .friend-search .search-drop-down ul {
        list-style: none;
        padding: 0;
        background-color: #fff; }
        .conversation .friend-search .search-drop-down ul li {
          margin: 0;
          border-bottom: 2px solid #f1f1f1; }
          .conversation .friend-search .search-drop-down ul li form button {
            padding: 10px 20px;
            width: 100%;
            font-weight: 300; }
          .conversation .friend-search .search-drop-down ul li form button:hover {
            cursor: pointer; }
          .conversation .friend-search .search-drop-down ul li form .non-btn:active {
            color: #000; }
        .conversation .friend-search .search-drop-down ul li:hover {
          background-color: #f1f1f1; }

.conversation-details {
  height: 600px; }
  .conversation-details .friend-details {
    height: 60px; }
    .conversation-details .friend-details #user_id {
      display: none; }
    .conversation-details .friend-details .friend-thumb {
      width: 60px;
      height: 60px; }
    .conversation-details .friend-details .right {
      margin-left: 15px;
      text-align: left;
      width: 60%; }
      .conversation-details .friend-details .right .name {
        font-weight: 400; }
  .conversation-details .compose-msg {
    position: absolute;
    bottom: 10px;
    right: 10px; }

#new-conversation-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #F5F5F5;
  padding: 10px 20px;
  font-size: 0.95em;
  height: 40px; }

#conversation-messages-2 {
  height: 410px; }

.discover {
  padding: 10px 0; }
  .discover .heading-columns .left-page-title {
    float: left; }
  .discover .heading-columns .search-bar {
    margin: 10px 20px;
    float: right; }
    .discover .heading-columns .search-bar #search-discover-input {
      width: 350px; }
  .discover .users {
    padding: 10px; }
    .discover .users ul {
      list-style: none;
      padding: 0; }
      .discover .users ul li {
        display: inline-block;
        width: 28%;
        margin: 30px 20px;
        vertical-align: top; }
        .discover .users ul li a:link, .discover .users ul li a:visted, .discover .users ul li a:hover, .discover .users ul li a:active {
          color: #000; }
        .discover .users ul li .left {
          vertical-align: top; }
          .discover .users ul li .left .friend-thumb {
            width: 120px;
            height: 120px; }
        .discover .users ul li .right {
          vertical-align: top;
          text-align: left;
          margin: 0.5em 0 0.5em 20px;
          width: 50%; }
          .discover .users ul li .right a:link, .discover .users ul li .right a:visted, .discover .users ul li .right a:hover, .discover .users ul li .right a:active {
            color: #000; }
          .discover .users ul li .right .friends-name {
            font-size: 1.1em;
            margin-bottom: 0.5em; }
          .discover .users ul li .right .interests {
            color: #000;
            font-weight: 300; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 1165px) {
  .discover .users ul li {
    width: 44%; } }
@media only screen and (max-width: 840px) {
  .discover .users ul li {
    width: 42%; }
    .discover .users ul li .left .friend-thumb {
      width: 100px;
      height: 100px; }
  .discover .heading-columns .search-bar #search-discover-input {
    width: 300px; } }
@media only screen and (max-width: 730px) {
  .discover .users ul li {
    margin: 20px; }
    .discover .users ul li .left {
      display: block; }
    .discover .users ul li .right {
      display: block;
      width: 100%;
      margin: 20px 0 0.5em 20px; }
  .discover .heading-columns .search-bar #search-discover-input {
    width: 250px; } }
@media only screen and (max-width: 690px) {
  .discover .users ul li {
    width: 100%;
    display: block; }
    .discover .users ul li .left {
      display: inline-block; }
    .discover .users ul li .right {
      display: inline-block;
      width: 50%;
      margin: 0.5em 0 0.5em 30px; }
  .discover .heading-columns .search-bar #search-discover-input {
    width: 200px; } }
@media only screen and (max-width: 630px) {
  .discover .heading-columns {
    text-align: center; }
    .discover .heading-columns .left-page-title {
      float: none;
      margin-left: 0; }
    .discover .heading-columns .search-bar {
      float: none; }
      .discover .heading-columns .search-bar #search-discover-input {
        width: 250px; } }
@media only screen and (max-width: 480px) {
  .discover .users ul li {
    margin: 20px 20px 40px; }
    .discover .users ul li .left {
      display: block; }
    .discover .users ul li .right {
      display: block;
      width: 100%;
      margin: 20px 0 0.5em 20px; }
  .discover .heading-columns .search-bar #search-discover-input {
    width: 200px; } }
.page-title {
  font-size: 1.4em;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1em; }

.page-title-large {
  font-size: 1.7em;
  margin: 0 0 0.7em;
  font-weight: 300; }

.block-title {
  font-size: 1.2em;
  text-transform: uppercase; }

.page-block-title {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 20px; }

.left-page-title {
  display: inline-block; }

.heading-columns {
  margin-bottom: 0.5em;
  border-bottom: 2px solid #F5F5F5;
  padding: 0 10px 10px; }

.section-title {
  font-size: 1.1em;
  font-weight: 300;
  margin: 1.5em 0 1em; }

.account {
  padding: 10px 0 0; }
  .account .heading-columns {
    margin-bottom: 0; }
  .account .left {
    vertical-align: top;
    padding-top: 40px;
    width: 49%; }
    .account .left #account-form {
      display: none; }
      .account .left #account-form .account-buttons {
        padding: 0 0 30px; }
      .account .left #account-form .account-buttons {
        margin-top: 10px; }
    .account .left .account-info {
      padding: 0 30px 10px; }
  .account .right {
    vertical-align: top;
    padding: 40px 30px 30px 70px;
    width: 49%;
    text-align: left;
    border-left: 2px solid #F5F5F5; }
    .account .right .update-password {
      width: 80%; }
      .account .right .update-password form {
        margin-bottom: 10px; }
        .account .right .update-password form .form-field:first-of-type {
          margin-top: 1.2em; }

#account-overlay, #account-overlay-form {
  display: none; }

#update-account-form .form-field {
  margin: 1em 0; }
#update-account-form label {
  margin-bottom: 0.5em;
  display: block;
  font-weight: 400; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 900px) {
  .account .left, .account .right {
    display: block;
    width: 100%; }
  .account .right {
    padding: 40px 30px;
    border: none;
    border-top: 2px solid #F5F5F5; }
    .account .right .update-password {
      width: 80%; }
  .account .inline-buttons {
    padding: 0 30px 40px 30px; } }
@media only screen and (max-width: 667px) {
  .account .right .update-password {
    width: 100%; } }
@media only screen and (max-width: 375px) {
  .account .inline-buttons form {
    display: block;
    margin-top: 15px; } }
.overlay {
  width: 100%;
  height: 100%;
  z-index: 800;
  background-color: #C6C6C6;
  opacity: 0.55;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

.overlay:hover {
  cursor: pointer; }

.overlay-form {
  background-color: #fff;
  position: absolute;
  z-index: 900;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: none; }
  .overlay-form .page-title-large {
    display: inline-block;
    width: 90%; }

.close-btn {
  height: 22px;
  width: 28px;
  position: absolute;
  right: 30px;
  top: 30px; }
  .close-btn .close-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute; }
  .close-btn #close-line-1 {
    left: 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%; }
  .close-btn #close-line-2 {
    left: 0;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%; }

.close-btn:hover {
  cursor: pointer; }

.sidebar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding: 10px 0; }
  .sidebar .outer {
    padding-bottom: 20px;
    border-bottom: 2px solid #F5F5F5; }
    .sidebar .outer .inner {
      padding: 0 10px; }
      .sidebar .outer .inner h2 {
        font-size: 1.2em; }
    .sidebar .outer .user-details .friend-thumb {
      width: 60px;
      height: 60px; }
    .sidebar .outer .user-details .right {
      margin-left: 15px;
      text-align: left;
      width: 60%; }
      .sidebar .outer .user-details .right .name {
        font-weight: 400; }
    .sidebar .outer .user-details .weekdays {
      text-align: center;
      margin-top: 30px; }
    .sidebar .outer .coming-up h2 {
      margin: 1em 0; }
    .sidebar .outer .coming-up ul {
      list-style: none;
      padding: 0; }
      .sidebar .outer .coming-up ul li {
        margin: 0.5em 0;
        font-size: 1.05em; }
      .sidebar .outer .coming-up ul li:last-of-type {
        margin-bottom: 0; }
    .sidebar .outer .btns {
      margin-top: 28px; }
      .sidebar .outer .btns .button {
        text-align: center;
        margin-top: 15px; }
    .sidebar .outer .new-event {
      margin: 15px 0 0; }
      .sidebar .outer .new-event h2 {
        color: #aaa;
        margin-bottom: 0.8em; }
      .sidebar .outer .new-event #new-event-form .event-field .label {
        display: inline-block;
        color: #aaa;
        font-weight: 400; }
      .sidebar .outer .new-event #new-event-form .event-field .field {
        display: inline-block;
        width: 60%;
        margin-left: 10px; }
        .sidebar .outer .new-event #new-event-form .event-field .field input, .sidebar .outer .new-event #new-event-form .event-field .field textarea {
          padding: 0;
          border: none;
          border-bottom: 1px solid transparent; }
        .sidebar .outer .new-event #new-event-form .event-field .field input:focus, .sidebar .outer .new-event #new-event-form .event-field .field textarea:focus {
          border-bottom: 1px solid #E2E2E2; }
      .sidebar .outer .new-event #new-event-form .event-field .error-container {
        height: 1.1em; }
      .sidebar .outer .new-event #new-event-form .event-field .block-field {
        display: block;
        width: 100%;
        margin: 0; }
        .sidebar .outer .new-event #new-event-form .event-field .block-field textarea {
          height: 60px;
          width: 100%;
          margin-top: 5px; }
    .sidebar .outer .event-hidden {
      display: none; }
  .sidebar .outer:last-of-type {
    border-bottom: none; }
  .sidebar .no-border {
    border: none; }

.conversation-details .outer:last-of-type {
  border-bottom: 2px solid #F5F5F5; }

.conversation-details .no-border:last-of-type {
  border: none; }

.invitations {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding: 0; }
  .invitations ul .no-results {
    padding: 15px; }
  .invitations ul li {
    border-bottom: 2px solid #F5F5F5;
    padding: 15px; }
    .invitations ul li .title {
      font-weight: 300;
      color: #8BC8DB;
      font-size: 1.2em; }
    .invitations ul li .detail {
      margin: 0.3em 0; }
    .invitations ul li .detail:last-of-type {
      margin-bottom: 0; }
    .invitations ul li .link-2 {
      font-weight: 300; }

.event-block {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 2%;
  padding: 0; }
  .event-block .outer .inner {
    padding: 20px; }

.cal .outer .inner, .cal-overlay .outer .inner {
  padding: 20px 30px; }
.cal .outer:last-of-type, .cal-overlay .outer:last-of-type {
  border-bottom: none; }

.cal-overlay #update-event, .event-block #update-event {
  display: none; }
  .cal-overlay #update-event #update-event-form h1 input[type='text'], .event-block #update-event #update-event-form h1 input[type='text'] {
    padding: 0;
    border: none;
    border-bottom: 1px solid #E2E2E2; }

.event-block .outer, .cal .outer, .cal-overlay .outer {
  border-bottom: 2px solid #F5F5F5; }
  .event-block .outer .invites .invitation-detail, .cal .outer .invites .invitation-detail, .cal-overlay .outer .invites .invitation-detail {
    color: #8BC8DB;
    font-weight: 400; }
  .event-block .outer .invites .adding-friends-hidden, .cal .outer .invites .adding-friends-hidden, .cal-overlay .outer .invites .adding-friends-hidden {
    display: none; }
.event-block .event-buttons, .cal .event-buttons, .cal-overlay .event-buttons {
  padding: 0;
  margin-top: 25px; }
.event-block .page-title, .cal .page-title, .cal-overlay .page-title {
  margin-bottom: 0.8em; }
.event-block .page-title-large, .cal .page-title-large, .cal-overlay .page-title-large {
  height: 55px;
  margin-bottom: 0; }
.event-block .add-friends, .cal .add-friends, .cal-overlay .add-friends {
  margin-top: 15px;
  color: #8BC8DB; }
.event-block .add-friends:hover, .cal .add-friends:hover, .cal-overlay .add-friends:hover {
  cursor: pointer; }
.event-block .add-invite-form, .cal .add-invite-form, .cal-overlay .add-invite-form {
  display: none;
  margin-top: 30px; }
  .event-block .add-invite-form input[type='text'], .cal .add-invite-form input[type='text'], .cal-overlay .add-invite-form input[type='text'] {
    border: 1px solid #aaa; }
  .event-block .add-invite-form .form-field, .event-block .add-invite-form input[type='submit'], .cal .add-invite-form .form-field, .cal .add-invite-form input[type='submit'], .cal-overlay .add-invite-form .form-field, .cal-overlay .add-invite-form input[type='submit'] {
    display: inline-block; }
  .event-block .add-invite-form input[type='submit'], .cal .add-invite-form input[type='submit'], .cal-overlay .add-invite-form input[type='submit'] {
    margin-left: 10px; }
.event-block ul li.invited-user, .cal ul li.invited-user, .cal-overlay ul li.invited-user {
  margin: 0.5em 0; }

.invitations ul, .event-block ul, .cal ul, .cal-overlay ul {
  list-style: none;
  padding: 0; }

.invite-id, #event-id {
  display: none; }

.search-result {
  margin: 0.5em 0; }
  .search-result a.link-2 {
    font-weight: 300; }
  .search-result .add-invite-form-single {
    display: inline-block;
    margin-left: 18px; }
    .search-result .add-invite-form-single button {
      color: #8BC8DB;
      padding: 0; }
    .search-result .add-invite-form-single button:hover {
      cursor: pointer; }

.day-box {
  display: inline-block;
  background-color: #C6C6C6;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 7px; }
  .day-box .letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.day-box:last-of-type {
  margin-right: 0; }

.daybox-grey {
  background-color: #C6C6C6; }

.daybox-blue {
  background-color: #8BC8DB; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 1310px) {
  .day-box {
    margin-right: 5px; } }
@media only screen and (max-width: 1260px) {
  .day-box {
    width: 22px;
    height: 22px; } }
#search .drop-down {
  width: 250px;
  transform: translateX(-85%); }
  #search .drop-down #search-form {
    border-bottom: 1px solid #E2E2E2; }
    #search .drop-down #search-form input[type="text"] {
      border: none;
      padding: 10px 15px; }
  #search .drop-down .search-drop-down ul li {
    border: none;
    padding: 10px 15px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 1em;
    font-weight: 300; }
  #search .drop-down .search-drop-down ul li:hover {
    background-color: #f1f1f1; }
  #search .drop-down .search-drop-down ul li.no-hover:hover {
    background-color: #fff; }

.block-404 {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px; }
  .block-404 h2 {
    font-size: 1.4em;
    margin-bottom: 20px; }
  .block-404 p {
    font-size: 1.1em; }

#discover-home-block {
  display: inline-block;
  width: 74%;
  margin-right: 2%; }

/* MEDIA QUERIES
================================================== */
@media only screen and (max-width: 1560px) {
  #discover-home-block .users ul li {
    width: 44%; } }
@media only screen and (max-width: 1100px) {
  #discover-home-block .users ul li {
    width: 42%; }
    #discover-home-block .users ul li .left .friend-thumb {
      width: 100px;
      height: 100px; }
  #discover-home-block .heading-columns .search-bar #search-discover-input {
    width: 300px; } }
@media only screen and (max-width: 940px) {
  #discover-home-block .users ul li {
    display: block;
    width: 100%;
    margin: 20px 20px 40px; }
    #discover-home-block .users ul li .left {
      display: inline-block; }
      #discover-home-block .users ul li .left .friend-thumb {
        width: 120px;
        height: 120px; }
    #discover-home-block .users ul li .right {
      display: inline-block;
      width: 60%;
      margin: 0.5em 0 0.5em 20px; }
  #discover-home-block .heading-columns .search-bar #search-discover-input {
    width: 250px; } }
@media only screen and (max-width: 800px) {
  #discover-home-block .heading-columns .search-bar #search-discover-input {
    width: 200px; } }
@media only screen and (max-width: 720px) {
  #discover-home-block .heading-columns {
    text-align: center; }
    #discover-home-block .heading-columns .left-page-title {
      float: none;
      margin-left: 0; }
    #discover-home-block .heading-columns .search-bar {
      float: none; }
      #discover-home-block .heading-columns .search-bar #search-discover-input {
        width: 250px; } }
.cal .event-buttons {
  padding: 0;
  margin-top: 25px; }
.cal .cal-event:hover {
  cursor: pointer; }

#cal-event-overlay, #cal-event-overlay-form {
  display: inherit; }

.cal-overlay {
  padding: 0;
  top: 120px;
  transform: translate(-50%, 0); }

.calendar {
  width: 84%;
  height: 100%;
  margin: 2.5% auto;
  background-color: #fff;
  border-collapse: collapse;
  border: 2px solid #ccc; }

.calendar th {
  width: 12%;
  height: 5%;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: 10px;
  text-transform: uppercase;
  color: #8BC8DB;
  font-weight: 400; }

.calendar th:first-of-type {
  border-left: none; }

.calendar td {
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  width: 12%;
  height: 19%;
  text-align: left;
  vertical-align: top; }
  .calendar td div:first-of-type {
    padding-top: 6px;
    padding-left: 6px; }

.calendar td:first-of-type {
  border-left: none; }

.calendar ul {
  list-style: none;
  padding: 0; }
  .calendar ul li {
    background-color: #8BC8DB;
    padding: 5px;
    font-size: 0.95em;
    margin-top: 10px; }
    .calendar ul li a:link, .calendar ul li a:hover, .calendar ul li a:active, .calendar ul li a:visited {
      color: #000; }

.calendar .other-month ul li {
  opacity: 0.6; }

.cal .event-block {
  width: 20%;
  text-align: right;
  display: inline-block;
  position: relative; }
  .cal .event-block .add-event-btn {
    position: absolute;
    right: 15px;
    width: 40px;
    height: 40px; }

.nextMonth-block {
  width: 10%;
  text-align: left;
  display: inline-block; }

.prevMonth-block {
  width: 40%;
  text-align: right;
  display: inline-block; }

.month-block {
  width: 20%;
  text-align: center;
  display: inline-block; }
  .month-block h1 {
    font-weight: 300; }

.other-month {
  color: #C6C6C6; }

/*# sourceMappingURL=style.css.map */
