.grey {
  color: #C6C6C6; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F5F5F5;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.clear {
  clear: both; }

.light {
  font-weight: 300; }

.page-title {
  font-size: 1.4em;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1em; }

a:link, a:visited {
  color: #8BC8DB;
  font-weight: 400; }

a:hover, a:active {
  color: #8D8D8D; }

input[type="text"], input[type="email"], input[type="password"], input[type="password" i] {
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: 300;
  font-size: 1em;
  border: 1px solid #C6C6C6;
  border-radius: 0px;
  color: #aaa;
  width: 100%;
  padding: 5px 10px; }

.login {
  width: 100%;
  margin-bottom: 1em; }

.form-field {
  margin: 0.5em 0; }

.form-field-submit {
  margin-top: 1em; }

.form-left {
  float: left;
  width: 60%;
  vertical-align: bottom; }

.form-right {
  float: right;
  width: 40%;
  vertical-align: bottom;
  text-align: right; }

.checkbox-field {
  margin-top: 10px; }

.validation-error {
  color: #8BC8DB;
  font-weight: 400;
  font-size: .9em;
  marin-top: .3em; }

#home-title-block {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: right; }

#home-title-block-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding-right: 9%; }

#title-home {
  text-transform: uppercase;
  font-size: 3.3em;
  margin: 0 0 .1em;
  letter-spacing: .1em; }

#catch {
  text-transform: lowercase;
  color: #8D8D8D;
  font-weight: 300;
  margin: 0;
  letter-spacing: .1em; }

#login-form-block {
  float: left;
  width: 50%;
  height: 100%;
  position: relative; }

#login-form-block-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 4.5% 5.5%;
  width: 60%;
  background-color: #fff;
  margin-left: 3%; }

#flash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #8BC8DB;
  background-color: #F5F5F5; }

.flash-list {
  list-style: none;
  padding: 0; }

nav {
  border-bottom: 1px solid #C6C6C6;
  padding: 1em 3%; }

#nav-left {
  width: 29%;
  display: inline-block; }

#nav-right {
  width: 70%;
  text-align: right;
  vertical-align: bottom;
  display: inline-block; }

#nav-title {
  font-size: 2em;
  text-transform: uppercase;
  display: inline-block; }

#nav-title-1 {
  font-weight: 400;
  color: #000; }

#nav-title-2 {
  font-weight: 300;
  color: #C6C6C6; }

.nav-list {
  list-style: none;
  padding: 0; }

.nav-item {
  display: inline-block;
  margin-left: 25px; }

.nav-item img {
  height: 22px; }

.col {
  display: inline-block;
  vertical-align: top; }

.profile-left-col {
  width: 29%;
  padding-right: 5%; }

.profile-right-col {
  width: 70%; }

.profile-cover {
  width: 100%; }

.profile-cover img {
  width: 100%; }

.block {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 1em; }

.profile-basic {
  font-weight: 400; }

.profile-name {
  display: inline-block;
  width: 69%;
  text-transform: uppercase; }

.profile-age {
  display: inline-block;
  width: 29%;
  color: #aaa;
  text-align: right; }

.connections-count {
  color: #8BC8DB;
  font-size: 0.9em; }

.profile-label {
  font-weight: 400;
  text-transform: uppercase;
  color: #000; }

.profile-buttons {
  margin-bottom: 1em; }

.profile-buttons button {
  padding: 5px 20px; }

#add-friend-form {
  float: left; }

.profile-buttons button:last-of-type {
  float: right; }

.content {
  margin: 50px; }

input[type="submit"], button {
  font-family: inherit;
  letter-spacing: .05em;
  font-size: 1em;
  border-radius: 0px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none; }

input[type="submit"]:hover, button:hover {
  cursor: pointer; }

.button-1, .button-1.disabled:hover {
  background-color: #8BC8DB;
  color: #fff;
  border: 1px solid #8BC8DB;
  font-weight: 600; }

.button-1:hover {
  background-color: #fff;
  color: #8BC8DB;
  border: 1px solid #8BC8DB; }

.button-2, .button-2.disabled:hover {
  background-color: #C6C6C6;
  color: #555555;
  border: 1px solid #C6C6C6; }

.button-2:hover {
  background-color: #D8D8D8;
  color: #555555;
  border: 1px solid #D8D8D8; }

.disabled:hover {
  cursor: auto; }

/*# sourceMappingURL=style.css.map */
