.grey {
  color: #C6C6C6; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  position: relative; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F5F5F5;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.clear {
  clear: both; }

.weight-light {
  font-weight: 300; }

.weight-med {
  font-weight: 400; }

.weight-bold {
  font-weight: 600; }

.lowercase {
  text-transform: lowercase; }

a:link, a:visited {
  color: #8BC8DB;
  font-weight: 400;
  text-decoration: none; }

a:hover, a:active {
  color: #8D8D8D;
  font-weight: 400; }

.link-2:link, .link-2:visited, .link-2:hover, .link-2:active {
  color: #000; }

input[type="text"], input[type="email"], input[type="password"], input[type="password" i], textarea {
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: 300;
  font-size: 1em;
  border: 1px solid #C6C6C6;
  border-radius: 0px;
  color: #aaa;
  width: 100%;
  padding: 5px 10px; }

.login {
  width: 100%;
  margin-bottom: 1em; }

.form-field {
  margin: 0.5em 0; }

.form-field-submit {
  margin-top: 1em; }

.form-left {
  float: left;
  width: 60%;
  vertical-align: bottom; }

.form-right {
  float: right;
  width: 40%;
  vertical-align: bottom;
  text-align: right; }

.checkbox-field {
  margin-top: 10px; }

.validation-error {
  color: #8BC8DB;
  font-weight: 400;
  font-size: .9em;
  marin-top: .3em; }

.hidden {
  width: 0;
  height: 0;
  border: none;
  padding: none; }

#home-title-block {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: right; }

#home-title-block-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding-right: 9%; }

#title-home {
  text-transform: uppercase;
  font-size: 3.3em;
  margin: 0 0 .1em;
  letter-spacing: .1em; }

#catch {
  text-transform: lowercase;
  color: #8D8D8D;
  font-weight: 300;
  margin: 0;
  letter-spacing: .1em; }

#login-form-block {
  float: left;
  width: 50%;
  height: 100%;
  position: relative; }

#login-form-block-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 4.5% 5.5%;
  width: 60%;
  background-color: #fff;
  margin-left: 3%; }

#flash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #fff;
  z-index: 600; }

.flash-list {
  list-style: none;
  padding: 10px 0;
  background-color: #8BC8DB; }

.result {
  padding: 10px 20px; }

nav {
  border-bottom: 1px solid #C6C6C6;
  padding: 1em 3%; }

#nav-left {
  width: 29%;
  display: inline-block; }

#nav-right {
  width: 70%;
  text-align: right;
  vertical-align: bottom;
  display: inline-block; }

#nav-title {
  font-size: 2em;
  text-transform: uppercase;
  display: inline-block; }

#nav-title-1 {
  font-weight: 400;
  color: #000; }

#nav-title-2 {
  font-weight: 300;
  color: #C6C6C6; }

.nav-list {
  list-style: none;
  padding: 0; }

.nav-item {
  display: inline-block;
  margin-left: 25px;
  position: relative; }

.notification-overlay {
  position: absolute;
  width: 150%;
  height: 150%;
  z-index: 500;
  background: transparent;
  top: -50%;
  left: 0; }

.nav-icon {
  height: 22px;
  width: auto; }

.nav-item:hover {
  cursor: pointer; }

.notification-count {
  position: absolute;
  background-color: #8BC8DB;
  border-radius: 100%;
  font-size: 0.8em;
  color: #fff;
  font-weight: 600;
  width: 1.6em;
  height: 1.6em;
  top: -50%;
  right: -20%;
  text-align: center; }

#drop-down-menu {
  display: none;
  background-color: #fff;
  width: 200px;
  right: 0;
  transform: translateX(0%);
  z-index: 500; }
  #drop-down-menu ul {
    list-style: none;
    padding: 0; }
    #drop-down-menu ul a:link, #drop-down-menu ul a:visited {
      color: #8BC8DB; }
    #drop-down-menu ul a:hover, #drop-down-menu ul a:active {
      color: #8D8D8D; }
    #drop-down-menu ul li {
      border-bottom: 1px solid #E2E2E2;
      text-align: center;
      padding: 1em;
      text-transform: uppercase;
      font-size: 1.1em; }

.col {
  display: inline-block;
  vertical-align: top; }

.profile-text-top-left {
  display: inline; }

.profile-left-col {
  width: 29%;
  padding-right: 5%; }

.profile-right-col {
  width: 70%; }

#profile-overlay {
  display: none; }

#profile-overlay-form {
  display: none; }

#profile-box {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }

#edit-info-overlay, #info-edit-button {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

#info-edit-button {
  z-index: 900; }

.profile-cover {
  width: 100%; }

.profile-cover img {
  width: 100%; }

.block {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 1em; }

.profile-basic {
  font-weight: 400; }
  .profile-basic a:link, .profile-basic a:visited, .profile-basic a:hover, .profile-basic a:active {
    color: #000; }

.profile-name {
  display: inline-block;
  width: 69%;
  text-transform: uppercase; }

.profile-age {
  display: inline-block;
  width: 29%;
  color: #aaa;
  text-align: right; }

.connections-count {
  color: #8BC8DB;
  font-size: 0.9em; }

#block-profile-info {
  overflow: hidden; }

.col {
  width: 50%;
  float: left; }

.profile-label {
  font-weight: 400;
  text-transform: uppercase;
  color: #000; }

.profile-info {
  position: relative;
  height: 280px; }
  .profile-info .left-col {
    width: 50%; }
  .profile-info .right-col {
    width: 50%; }

.select-box {
  width: 400px;
  background: image-url("down_arrow.png") no-repeat 95% center;
  background-color: #fff; }

.select-box select {
  background: transparent;
  width: 400px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #C6C6C6;
  border-radius: 0;
  -webkit-appearance: none; }

.profile-buttons {
  margin-bottom: 1em; }

.profile-buttons button {
  padding: 5px 20px; }

#connect-btn {
  display: inline-block;
  float: left; }

.profile-buttons button:last-of-type {
  float: right; }

.profile-friends {
  margin-top: 15px; }
  .profile-friends ul {
    list-style: none;
    padding: 0;
    margin-top: 1em; }
  .profile-friends .friend-thumb {
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 3%; }

.content {
  margin: 50px; }

.left, .middle {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.right {
  display: inline-block;
  text-align: right;
  vertical-align: middle; }

button {
  background: transparent;
  border: none; }

.button {
  font-family: inherit;
  letter-spacing: .05em;
  font-size: 1em;
  border-radius: 0px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none; }

.button:hover {
  cursor: pointer; }

.button-1, .button-1.disabled:hover {
  background-color: #8BC8DB;
  color: #fff;
  border: 1px solid #8BC8DB;
  font-weight: 600; }

.button-1:hover {
  background-color: #fff;
  color: #8BC8DB;
  border: 1px solid #8BC8DB; }

.button-2, .button-2.disabled:hover {
  background-color: #C6C6C6;
  color: #555555;
  border: 1px solid #C6C6C6; }

.button-2:hover {
  background-color: #D8D8D8;
  color: #555555;
  border: 1px solid #D8D8D8; }

.button-3 {
  background-color: #fff;
  color: #8BC8DB;
  border: 1px solid #8BC8DB;
  font-size: 0.9em;
  font-weight: 600; }

.button-4 {
  background-color: #ff6150;
  color: white;
  border: 1px solid #ff6150;
  font-weight: 600; }

.button-4:hover {
  background-color: #fff;
  color: #ff6150; }

.disabled:hover {
  cursor: auto; }

.drop-down {
  position: absolute;
  background-color: #fff;
  top: 2.75em;
  transform: translateX(-50%);
  display: none;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  width: 250px; }
  .drop-down ul {
    position: relative;
    text-align: left;
    list-style: none;
    padding: 0; }
    .drop-down ul a:link, .drop-down ul a:visited, .drop-down ul a:hover, .drop-down ul a:active {
      color: #000; }
    .drop-down ul li {
      position: relative;
      padding: 10px 15px;
      border-bottom: 1px solid #E2E2E2;
      text-align: left;
      font-size: 0.9em;
      font-weight: 400; }
      .drop-down ul li .left {
        position: relative; }
        .drop-down ul li .left .friend-thumb {
          width: 50px;
          height: 50px; }
      .drop-down ul li .right {
        position: relative; }

.line {
  position: absolute;
  height: 2px;
  background-color: #8BC8DB; }

#drop-down-messages ul li .left {
  width: 50px; }
#drop-down-messages ul li .right {
  padding: 0 0 0 20px;
  width: 160px;
  text-align: left; }
  #drop-down-messages ul li .right .recent-msg {
    color: #717171;
    height: 1.4em;
    overflow: hidden; }

#drop-down-friends {
  width: 300px; }
  #drop-down-friends ul li .left {
    width: 50px; }
  #drop-down-friends ul li .middle {
    padding: 0 0 0 20px;
    width: 125px; }
  #drop-down-friends ul li .right {
    width: 85px; }
    #drop-down-friends ul li .right .action-icon {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 28px;
      vertical-align: middle;
      margin-left: 10px; }
      #drop-down-friends ul li .right .action-icon #accept-line-1 {
        width: 12px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 36%;
        left: 0; }
      #drop-down-friends ul li .right .action-icon #accept-line-2 {
        width: 25px;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 50%;
        left: 6px; }
      #drop-down-friends ul li .right .action-icon #reject-line-1 {
        width: 28px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 50%;
        left: 0;
        background-color: #C6C6C6; }
      #drop-down-friends ul li .right .action-icon #reject-line-2 {
        width: 28px;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 50%;
        left: 0;
        background-color: #C6C6C6; }
    #drop-down-friends ul li .right .action-icon:hover {
      cursor: pointer; }
      #drop-down-friends ul li .right .action-icon:hover .line {
        opacity: 0.7; }
  #drop-down-friends .delete-friend-request-form, #drop-down-friends .accept-friend-notification {
    float: left; }

.friend-thumb {
  border-radius: 100%;
  overflow: hidden; }
  .friend-thumb img {
    width: 100%;
    height: 100%; }

.friends .block-title {
  margin: 10px 30px; }
.friends .message {
  margin: 10px 30px; }
.friends ul li {
  display: inline-block;
  margin: 30px; }
  .friends ul li .left {
    margin-right: 20px; }
    .friends ul li .left .friend-thumb {
      display: inline-block;
      width: 100px;
      height: 100px; }
  .friends ul li .right {
    text-align: left; }
    .friends ul li .right .friends-action {
      margin-top: 1em; }
  .friends ul li a:link, .friends ul li a:visited, .friends ul li a:hover, .friends ul li a:active {
    color: #555555; }

#menu-btn {
  height: 22px;
  width: 28px;
  position: relative; }
  #menu-btn .menu-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  #menu-btn #menu-line-1 {
    top: 0;
    left: 0; }
  #menu-btn #menu-line-1.active {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%; }
  #menu-btn #menu-line-2 {
    top: 10px;
    left: 0; }
  #menu-btn #menu-line-2.active {
    opacity: 0; }
  #menu-btn #menu-line-3 {
    top: 20px;
    left: 0; }
  #menu-btn #menu-line-3.active {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%; }

.conversations {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding: 0;
  height: 600; }
  .conversations ul {
    list-style: none;
    padding: 0; }
    .conversations ul li {
      border-bottom: 2px solid #F5F5F5;
      padding: 20px 10px;
      height: 100px; }
      .conversations ul li .friend-thumb {
        width: 60px;
        height: 60px; }
      .conversations ul li .right {
        margin-left: 15px;
        text-align: left;
        width: 60%; }
        .conversations ul li .right .name {
          font-weight: 400; }
        .conversations ul li .right .recent-msg {
          font-weight: 300;
          font-size: 0.9em;
          color: #717171;
          height: 1.4em;
          overflow: hidden; }

.conversation {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 2%; }
  .conversation .conversation-messages {
    height: 450px;
    border-bottom: 2px solid #F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px; }
    .conversation .conversation-messages .message-date {
      font-weight: 400;
      color: #aaa;
      font-size: 0.95em;
      text-align: center;
      margin: 1em 0; }
    .conversation .conversation-messages .message-outer .message {
      border-radius: 10px;
      padding: 15px;
      width: 55%;
      margin: 10px 0;
      font-size: 0.95em; }
    .conversation .conversation-messages .message-outer .message-1 {
      background-color: #8BC8DB;
      color: #fff;
      font-weight: 400;
      float: right; }
    .conversation .conversation-messages .message-outer .message-2 {
      background-color: #E2E2E2;
      color: #000;
      float: left; }
  .conversation .compose-message {
    height: 150px; }
    .conversation .compose-message #new-message-body, .conversation .compose-message #new-message-body-2 {
      height: 100%;
      border: none;
      padding: 10px 20px;
      font-size: 0.95em;
      resize: none; }

.conversation-details {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 22%;
  height: 600px; }
  .conversation-details .friend-details .friend-thumb {
    width: 60px;
    height: 60px; }
  .conversation-details .friend-details .right {
    margin-left: 15px;
    text-align: left;
    width: 60%; }
    .conversation-details .friend-details .right .name {
      font-weight: 400; }
  .conversation-details .compose-msg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #8BC8DB;
    position: absolute;
    bottom: 10px;
    right: 10px; }
    .conversation-details .compose-msg .plus-line {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .conversation-details .compose-msg .plus-line-1 {
      width: 30px; }
    .conversation-details .compose-msg .plus-line-2 {
      width: 2px;
      height: 30px; }

#new-conversation-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #F5F5F5;
  padding: 10px 20px;
  font-size: 0.95em;
  height: 40px; }

#conversation-messages-2 {
  height: 410px; }

.discover {
  padding: 10px 0; }
  .discover .heading-columns .left-page-title {
    float: left; }
  .discover .heading-columns .search-bar {
    margin: 10px 20px;
    float: right; }
    .discover .heading-columns .search-bar #search-discover-input {
      width: 350px; }
  .discover .users {
    padding: 10px; }
    .discover .users ul {
      list-style: none;
      padding: 0; }
      .discover .users ul li {
        display: inline-block;
        width: 28%;
        margin: 30px 20px; }
        .discover .users ul li a:link, .discover .users ul li a:visted, .discover .users ul li a:hover, .discover .users ul li a:active {
          color: #000; }
        .discover .users ul li .left {
          vertical-align: top; }
          .discover .users ul li .left .friend-thumb {
            width: 120px;
            height: 120px; }
        .discover .users ul li .right {
          vertical-align: top;
          text-align: left;
          margin: 0.5em 0 0.5em 20px;
          width: 50%; }
          .discover .users ul li .right a:link, .discover .users ul li .right a:visted, .discover .users ul li .right a:hover, .discover .users ul li .right a:active {
            color: #000; }
          .discover .users ul li .right .friends-name {
            font-size: 1.1em;
            margin-bottom: 0.5em; }
          .discover .users ul li .right .interests {
            color: #000;
            font-weight: 300; }

.page-title {
  font-size: 1.4em;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1em; }

.block-title {
  font-size: 1.2em;
  text-transform: uppercase; }

.page-block-title {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 20px; }

.left-page-title {
  display: inline-block; }

.heading-columns {
  margin-bottom: 0.5em;
  border-bottom: 2px solid #F5F5F5;
  padding: 0 10px 10px; }

.account {
  padding: 10px 0 0; }
  .account .heading-columns {
    margin-bottom: 0; }
  .account .left {
    vertical-align: top;
    padding-top: 40px;
    width: 49%; }
    .account .left .account-info {
      padding: 0 30px 10px;
      font-size: 1.1em; }
      .account .left .account-info .account-field {
        margin-bottom: 1em; }
        .account .left .account-info .account-field .label {
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          display: inline-block;
          margin-right: 1em; }
        .account .left .account-info .account-field .field {
          color: #8D8D8D;
          display: inline-block; }
    .account .left .account-buttons {
      padding: 0 30px 30px; }
      .account .left .account-buttons .button:first-of-type {
        margin-right: 20px; }
  .account .right {
    vertical-align: top;
    padding: 40px 30px 30px 70px;
    width: 49%;
    text-align: left;
    border-left: 2px solid #F5F5F5; }
    .account .right .update-password {
      width: 80%; }
      .account .right .update-password form {
        margin-bottom: 10px; }
        .account .right .update-password form .form-field {
          margin: 1.2em 0; }

#account-overlay, #account-overlay-form {
  display: none; }

#update-account-form .form-field {
  margin: 1em 0; }
#update-account-form label {
  margin-bottom: 0.3em;
  font-weight: 400; }

.overlay {
  width: 100%;
  height: 100%;
  z-index: 800;
  background-color: #C6C6C6;
  opacity: 0.55;
  position: absolute;
  top: 0;
  left: 0; }

.overlay-form {
  background-color: #fff;
  position: absolute;
  z-index: 900;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px; }

/*# sourceMappingURL=style.css.map */
