.account{

	padding: 10px 0 0;

	.heading-columns{
		margin-bottom: 0;
	}

	.left{
		
		vertical-align: top;
		padding-top: 40px;
		width: 49%;

		#account-form{
			display: none;

			.account-buttons{
				padding: 0 0 30px;
			}

			.account-buttons{
				margin-top: 10px;
			}
		}

		.account-info{

			padding: 0 30px 10px;

			.account-field{
				font-size: 1.1em;
				height: 40px;

				.label{
					font-weight: 400;
					text-transform: uppercase;
					display: inline-block;
					margin-right: 1em;
				}

				.field{
					color: $grey1;
					display: inline-block;

					input{
						padding: 0;
						border: none;
						border-bottom: 1px solid $grey4;
					}
				}
			}
		}

		.account-buttons{
			padding: 0 30px 30px;

			.button:first-of-type{
				margin-right: 20px;
			}

		}
	}

	.right{
		vertical-align: top;
		padding: 40px 30px 30px 70px;
		width: 49%;
		text-align: left;
		border-left: 2px solid $background;

		.update-password{
			width: 80%;

			form{

				.form-field:first-of-type{
					margin-top: 1.2em;
				}

				.form-field:last-of-type{
					// margin-bottom: 1.2em;
				}

				margin-bottom: 10px;
			}
		}
	}
}

#account-overlay, #account-overlay-form{
	display: none;
}

#update-account-form{

	.form-field{
		margin: 1em 0;
	}

	label{
		margin-bottom: 0.5em;
		display: block;
		font-weight: 400;
	}
}