.account{

	padding: 10px 0 0;

	.heading-columns{
		margin-bottom: 0;
	}

	.left{
		
		vertical-align: top;
		padding-top: 40px;
		width: 49%;

		#account-form{
			display: none;

			.account-buttons{
				padding: 0 0 30px;
			}

			.account-buttons{
				margin-top: 10px;
			}
		}

		.account-info{
			padding: 0 30px 10px;
		}
	}

	.right{
		vertical-align: top;
		padding: 40px 30px 30px 70px;
		width: 49%;
		text-align: left;
		border-left: 2px solid $background;

		.update-password{
			width: 80%;

			form{

				.form-field:first-of-type{
					margin-top: 1.2em;
				}

				margin-bottom: 10px;
			}
		}
	}
}

#account-overlay, #account-overlay-form{
	display: none;
}

#update-account-form{

	.form-field{
		margin: 1em 0;
	}

	label{
		margin-bottom: 0.5em;
		display: block;
		font-weight: 400;
	}
}


/* MEDIA QUERIES
================================================== */

@media only screen and (max-width: 900px) {

	.account{
		.left, .right{
			display: block;
			width: 100%;
		}

		.right{
			padding: 40px 30px;
			border: none;
			border-top: 2px solid $background;

			.update-password{
				width: 80%;
			}
		}

		.inline-buttons{
			padding: 0 30px 40px 30px;
		}
	}
}

@media only screen and (max-width: 667px) {

	.account{

		.right{

			.update-password{
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 375px) {

	.account{

		.inline-buttons{

			form{
				display: block;
				margin-top: 15px;
			}
		}
	}
}