button{
	background: transparent;
	border: none;
}

.button{
	font-family: inherit;
	letter-spacing: .05em;
	font-size: 1em;
	border-radius: 0px;
	text-transform: uppercase;
	padding: 5px 10px;
	border: none;
}

.button:hover{
	cursor: pointer;
}

.button-1, .button-1.disabled:hover{
	background-color: $blue-main;
	color: $white;
	border: 1px solid $blue-main;
	font-weight: 600;
}

.button-1:hover{
	background-color: $white;
	color: $blue-main;
	border: 1px solid $blue-main;
}

.button-2, .button-2.disabled:hover{
	background-color: $grey;
	color: $grey2;
	border: 1px solid $grey;
}

.button-2:hover{
	background-color: $grey5;
	color: $grey2;
	border: 1px solid $grey5;
}

.button-3{
	background-color: $white;
	color: $blue-main;
	border: 1px solid $blue-main;
	font-size: 0.9em;
	font-weight: 600;
}

.button-4{
	background-color: $red;
	color: white;
	border: 1px solid $red;
	font-weight: 600;
}

.button-4:hover{
	background-color: $white;
	color: $red;
}

.button-5{
	background-color: $white;
	color: $grey3;
	border: 1px solid $grey3;
}

.button-5:hover{
	color: $grey2;
	border: 1px solid $grey2;
}

.button-6{
	background-color: $grey6;
	color: $grey4;
	border: 1px solid $grey6;
}

.disabled:hover{
	cursor: auto;
}

.non-btn{
	font-size: 1em;
	font-family: inherit;
	text-align: left;
}

.inline-buttons{
	padding: 0 30px 30px;

	.button:first-of-type{
		margin-right: 20px;
	}

	form{
		display: inline-block;
	}
}

.add-btn{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 2px solid $blue-main;
	position: relative;

	.plus-line{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.plus-line-1{
		width: 60%;
	}

	.plus-line-2{
		width: 2px;
		height: 60%;
	}
}

.add-btn:hover{
	cursor: pointer;
}