button{
	background: transparent;
	border: none;
}

.button{
	font-family: inherit;
	letter-spacing: .05em;
	font-size: 1em;
	border-radius: 0px;
	text-transform: uppercase;
	padding: 5px 10px;
	border: none;
}

.button:hover{
	cursor: pointer;
}

.button-1, .button-1.disabled:hover{
	background-color: $blue-main;
	color: $white;
	border: 1px solid $blue-main;
	font-weight: 600;
}

.button-1:hover{
	background-color: $white;
	color: $blue-main;
	border: 1px solid $blue-main;
}

.button-2, .button-2.disabled:hover{
	background-color: $grey;
	color: $grey2;
	border: 1px solid $grey;
}

.button-2:hover{
	background-color: $grey5;
	color: $grey2;
	border: 1px solid $grey5;
}

.button-3{
	background-color: $white;
	color: $blue-main;
	border: 1px solid $blue-main;
	font-size: 0.9em;
	font-weight: 600;
}

.button-4{
	background-color: $red;
	color: white;
	border: 1px solid $red;
	font-weight: 600;
}

.button-4:hover{
	background-color: $white;
	color: $red;
}

.disabled:hover{
	cursor: auto;
}