$blue-main: #8BC8DB;
$grey: #C6C6C6;
$white: #fff;
$black: #000;
$grey3: #aaa;
$grey1: #8D8D8D;
$background: #F5F5F5;
$grey2: #555555;
$grey4: #E2E2E2;
$grey5: #D8D8D8;
$grey6: #717171;
$red: #ff6150;


.grey{
	color: $grey;
}

.blue{
	color: $blue-main;
}