#flash-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: 400;
	color: $blue-main;
	background-color: $background;
}

.flash-list{
	list-style: none;
	padding: 0;
}

.flash-item{
	
}