#flash-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: 400;
	color: $white;
	z-index: 1000;
}

.flash-list{
	list-style: none;
	padding: 10px 0;
	background-color: $blue-main;
}

.flash-item{
	
}

.result{
	padding: 10px 20px;
}