input[type="text"], input[type="email"], input[type="password"], input[type="password" i], textarea, input[type="date"], input[type="time"]{
	font-family: inherit;
	letter-spacing: inherit;
	font-weight: 300;
	font-size: 1em;
	border: 1px solid $grey;
	border-radius: 0px;
	color: $grey3;
	width: 100%;
	padding: 5px 10px;
}

textarea{
	resize: none;
}

.login{
	width: 100%;
	margin-bottom: 1em;
}

form.login .form-field{
	margin: 1em 0;
}

.form-field-submit{
	margin-top: 1em;
}

.form-left{
	float: left;
	width: 60%;
	vertical-align: bottom;
}

.form-right{
	float: right;
	width: 40%;
	vertical-align: bottom;
	text-align: right;
}

.checkbox-field{
	margin-top: 10px;
}

.validation-error{
	color: $blue-main;
	font-weight: 400;
	font-size: .9em;
}

.hidden{
	width: 0;
	height: 0;
	border: none;
	padding: none;
}

.error-container{
	height: 1.4em;
}

.field-inline{
	display: inline-block;
	width: 40%;
	padding-right: 5%;
}