input[type="text"], input[type="email"], input[type="password"], input[type="password" i]{
	font-family: inherit;
	letter-spacing: inherit;
	font-weight: 300;
	font-size: 1em;
	border: 1px solid $grey;
	border-radius: 0px;
	color: $med-grey;
	width: 100%;
	padding: 5px 10px;
}

input[type="submit"]{
	font-family: inherit;
	letter-spacing: .05em;
	font-size: 1em;
	background-color: $white;
	color: $white;
	border: 1px solid $blue-main;
	border-radius: 0px;
	text-transform: uppercase;
	background-color: $blue-main;
	font-weight: 600;
	padding: 5px 10px;
}

input[type="submit"]:hover{
	background-color: $white;
	color: $blue-main;
	cursor: pointer;
	border: 1px solid $blue-main;
	font-weight: 600;
}

form{
	width: 100%;
	margin-bottom: 1em;
}

.form-field{
	margin: 0.5em 0;
}

.form-field-submit{
	margin-top: 1em;
}

.form-left{
	float: left;
	width: 50%;
	vertical-align: middle;
}

.form-right{
	float: right;
	width: 50%;
	vertical-align: middle;
	text-align: right;
}

.checkbox-field{
	margin-top: 10px;
}

.validation-error{
	color: $blue-main;
	font-weight: 400;
	font-size: .9em;
	marin-top: .3em;
}