#discover-home-block{
	display: inline-block;
	width: 74%;
	margin-right: 2%;
}


/* MEDIA QUERIES
================================================== */

@media only screen and (max-width: 1560px) {

	#discover-home-block{

		.users{

			ul{

				li{
					width: 44%;
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {

	#discover-home-block{
		.users{

			ul{

				li{
					width: 42%;

					.left{

						.friend-thumb{
							width: 100px;
							height: 100px;
						}
					}
				}
			}
		}

		.heading-columns{

			.search-bar{

				#search-discover-input{
					width: 300px;
				}
			}
		}
	}
}

@media only screen and (max-width: 940px) {
	#discover-home-block{

		.users{

			ul{

				li{
					display: block;
					width: 100%;
					margin: 20px 20px 40px;
					
					.left{
						display: inline-block;

						.friend-thumb{
							width: 120px;
							height: 120px;
						}
					}

					.right{
						display: inline-block;
						width: 60%;
						margin: 0.5em 0 0.5em 20px;
					}
				}
			}
		}

		.heading-columns{

			.search-bar{

				#search-discover-input{
					width: 250px;
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	#discover-home-block{

		.heading-columns{

			.search-bar{

				#search-discover-input{
					width: 200px;
				}
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	#discover-home-block{

		.heading-columns{
			text-align: center;

			.left-page-title{
				float: none;
				margin-left: 0;
			}

			.search-bar{
				float: none;

				#search-discover-input{
					width: 250px;
				}
			}
		}
	}
}