.content{
	padding: 50px;
}

.left, .middle{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.right{
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}


/* MEDIA QUERIES
================================================== */

@media only screen and (max-width: 667px) {

	.content{
		margin: 30px;
	}
}

@media only screen and (max-width: 568px) {

	.content{
		margin: 20px;
	}
}

@media only screen and (max-width: 480px) {

	.content{
		margin: 20px 10px;
	}
}