a:link, a:visited{
	color: $blue-main;
	font-weight: 400;
	text-decoration: none;
}

a:hover, a:active{
	color: $grey1;
	font-weight: 400;
}

.link-2:link, .link-2:visited, .link-2:hover, .link-2:active{
	color: $black;
}