.conversations{
	display: inline-block;
	vertical-align: top;
	width: 22%;
	padding: 0;
	height: 600;

	ul{
		list-style: none;
		padding: 0;

		li{
			border-bottom: 2px solid $background;
			padding: 20px 10px;
			height: 100px;

			.friend-thumb{
				width: 60px;
				height: 60px;
			}

			.right{
				margin-left: 15px;
				text-align: left;
				width: 60%;

				.name{
					font-weight: 400;
				}

				.recent-msg{
					font-weight: 300;
					font-size: 0.9em;
					color: $grey6;
					height: 1.4em;
					overflow: hidden;
				}
			}
		}
	}
}

.conversation{
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 0 2%;

	.conversation-messages{
		height: 450px;
		border-bottom: 2px solid $background;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 0 20px;

		.message-date{
			font-weight: 400;
			color: $grey3;
			font-size: 0.95em;
			text-align: center;
			margin: 1em 0;
		}

		.message-outer{

			.message{
				border-radius: 10px;
				padding: 15px;
				width: 55%;
				margin: 10px 0;
				font-size: 0.95em;
			}

			.message-1{
				background-color: $blue-main;
				color: $white;
				font-weight: 300;
				float: right;
			}

			.message-2{
				background-color: $grey4;
				color: $black;
				float: left;
			}
		}
	}

	.compose-message{
		height: 150px;

		#new-message-body, #new-message-body-2{
			height: 100%;
			border: none;
			padding: 10px 20px;
			font-size: 0.95em;
			resize: none;
		}
	}

	.friend-search{
		position: relative;

		.search-drop-down{
			position: absolute;
			top: 40px;
			width: 100%;
			z-index: 500;
			font-size: 0.95em;

			ul{
				list-style: none;
				padding: 0;
				background-color: $white;

				li{
					margin: 0;
					border-bottom: 2px solid $slight-background;

					form{

						button{
							padding: 10px 20px;
							width: 100%;
							font-weight: 300;
						}

						button:hover{
							cursor: pointer;
						}

						.non-btn:active{
							color: $black;
						}
					}
				}

				li:hover{
					background-color: $slight-background;
				}
			}
		}
	}
}

.conversation-details{
	height: 600px;

	.friend-details{

		height: 60px;

		#user_id{
			display: none;
		}

		.friend-thumb{
			width: 60px;
			height: 60px;
		}

		.right{
			margin-left: 15px;
			text-align: left;
			width: 60%;

			.name{
				font-weight: 400;
			}
		}
	}

	.compose-msg{
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}

#new-conversation-input{
	width: 100%;
	border: none;
	border-bottom: 2px solid $background;
	padding: 10px 20px;
	font-size: 0.95em;
	height: 40px;
}

#conversation-messages-2{
	height: 410px;
}