.conversations{
	display: inline-block;
	vertical-align: top;
	width: 22%;
	padding: 0;
	height: 600;

	ul{
		list-style: none;
		padding: 0;

		li{
			border-bottom: 2px solid $background;
			padding: 20px 10px;
			height: 100px;

			.friend-thumb{
				width: 60px;
				height: 60px;
			}

			.right{
				margin-left: 15px;
				text-align: left;
				width: 60%;

				.name{
					font-weight: 400;
				}

				.recent-msg{
					font-weight: 300;
					font-size: 0.9em;
					color: $grey6;
					height: 1.4em;
					overflow: hidden;
				}
			}
		}
	}
}

.conversation{
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 0 2%;

	.conversation-messages{
		height: 450px;
		border-bottom: 2px solid $background;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 0 20px;

		.message-outer{

			.message{
				border-radius: 10px;
				padding: 15px;
				width: 55%;
				margin: 10px 0;
				font-size: 0.95em;
			}

			.message-1{
				background-color: $blue-main;
				color: $white;
				font-weight: 400;
				float: right;
			}

			.message-2{
				background-color: $grey4;
				color: $black;
				float: left;
			}
		}
	}

	.compose-message{
		height: 150px;

		#new-message-body{
			height: 100%;
			border: none;
			padding: 10px 20px;
			font-size: 0.95em;
			resize: none;
		}
	}
}

.conversation-details{
	display: inline-block;
	vertical-align: top;
	width: 22%;

	.friend-details{

		.friend-thumb{
			width: 60px;
			height: 60px;
		}

		.right{
			margin-left: 15px;
			text-align: left;
			width: 60%;

			.name{
				font-weight: 400;
			}
		}
	}
}