nav{
	border-bottom: 1px solid $grey;
	padding: 1em 3%;
}

#nav-left{
	width: 34%;
	display: inline-block;
}

#nav-right{
	width: 65%;
	text-align: right;
	vertical-align: bottom;
	display: inline-block;
}

#nav-title{
	font-size: 2em;
	text-transform: uppercase;
	display: inline-block;
}

#nav-title-1{
	font-weight: 400;
	color: $black;
}

#nav-title-2{
	font-weight: 300;
	color: $grey;
}

.nav-list{
	list-style: none;
	padding: 0;
}

.nav-item{
	display: inline-block;
	margin-left: 25px;
	position: relative;
}

.notification-overlay{
	position: absolute;
	width: 150%;
	height: 150%;
	z-index: 500;
	background: transparent;
	top: -50%;
	left: 0;
}

.nav-icon{
	height: 22px;
	width: auto;
}

.nav-item:hover{
	cursor: pointer;
}

.notification-count{
	position: absolute;
	background-color: $blue-main;
	border-radius: 100%;
	font-size: 0.8em;
	color: $white;
	font-weight: 600;
	width: 1.6em;
	height: 1.6em;
	top: -50%;
	right: -20%;
	text-align: center;
}

#drop-down-menu{
	display: none;
	background-color: $white;
	width: 200px;
	right: 3%;
	top: 76px;
	transform: translateX(0%);
	z-index: 500;

	ul{
		list-style: none;
		padding: 0;

		a:link, a:visited{
			color: $blue-main;
		}

		a:hover, a:active{
			color: $grey1;
		}

		li{
			border-bottom: 1px solid $grey4;
			text-align: center;
			padding: 1em;
			text-transform: uppercase;
			font-size: 1.1em;
		}
	}
}

.nav-item-alt{
	display: inline-block;
	margin-left: 30px;
	font-weight: 400;
	color: $blue-main;
	text-transform: uppercase;
	font-size: 1.05em;
}

.nav-item-alt:hover{
	cursor: pointer;
}


/* MEDIA QUERIES
================================================== */

@media only screen and (max-width: 736px) {

	#drop-down-menu{
		width: 100%;
		right: 0;
	}
}

@media only screen and (max-width: 480px) {

	.nav-item{
		margin-left: 20px;
	}

	.nav-icon{
		height: 18px;
		width: auto;
	}

	#nav-right{
		width: 64%;
	}

	#nav-title{
		font-size: 1.8em;
	}

	.notification-count{
		top: -70%;
		right: -40%;
	}
}

@media only screen and (max-width: 375px) {

	.nav-item{
		margin-left: 15px;
	}

	#nav-title{
		font-size: 1.6em;
	}
}

@media only screen and (max-width: 355px) {

	.nav-item{
		margin-left: 20px;
	}

	#nav-title{
		font-size: 1.8em;
	}

	#nav-left, #nav-right{
		width: 100%;
		display: block;
		text-align: center;
	}

	#nav-right{
		margin-top: 25px;
	}
}