.col{
	display: inline-block;
	vertical-align: top;
}

.profile-left-col{
	width: 29%;
	padding-right: 5%;
}

.profile-right-col{
	width: 70%;
}

.profile-cover{
	width: 100%;
}

.profile-cover img{
	width: 100%;
}

.block{
	background-color: $white;
	padding: 10px;
	margin-bottom: 1em;
}

.profile-basic{
	font-weight: 400;

	a:link, a:visited, a:hover, a:active{
		color: $black;
	}
}

.profile-name{
	display: inline-block;
	width: 69%;
	text-transform: uppercase;
}

.profile-age{
	display: inline-block;
	width: 29%;
	color: $grey3;
	text-align: right;
}

.connections-count{
	color: $blue-main;
	font-size: 0.9em;
}

.profile-info{
	.left{
			width: 50%;
			text-align:left;
			padding-left:10px;
			width:70%;
			display:inline-block;
			box-sizing:border-box;
	}

	.right{
			width: 50%;
			text-align:left;
		  padding-left:10px;
			width:70%;
			display:inline-block;
		  box-sizing:border-box;
	}

}

.profile-label{
	font-weight: 400;
	text-transform: uppercase;
	color: $black;
}

.profile-about{

}
.profile-meet{

}
.profile-skill{

}
.profile-location{

}
.profile-work{

}
.profile-interests{

}

.profile-buttons{
	margin-bottom: 1em;
}

.profile-buttons button{
	padding: 5px 20px;
}

#connect-btn{
	display: inline-block;
	float: left;
}

.profile-buttons button:last-of-type{
	float: right;
}

.profile-friends{

	margin-top: 15px;

	ul{
		list-style: none;
		padding: 0;
		// text-align: center;
		margin-top: 1em;
	}

	.friend-thumb{
		width: 65px;
		height: 65px;
		display: inline-block;
		margin: 3%;
	}
}
