.col{
	display: inline-block;
	vertical-align: top;
	width: 50% ;
	float: left;
}

.profile-text-top-left {
	display: inline;
}

.profile-left-col{
	width: 29%;
	padding-right: 5%;
}

.profile-right-col, #profile-box{
	width: 70%;
	background-color: $white;

	.block{
		margin-bottom: 0;
	}

	#profile-box{
		display: none;
		width: 100%;
		height: 100%;
		background-color: $white;

		.inline-buttons{
			padding: 0;

			#cancel-edit{
				display: inline-block;
				font-weight: 400;
			}
		}
	}

	#main-profile-info{
		background-color: $white;
	}

	#main-profile-info, #profile-box{

		.left{
			width: 39%;
		}

		.right{
			width: 55%;
			margin-left: 4%;
			text-align: left;
		}

		.col{

			vertical-align: top;

			.profile-field{
				display: inline-block;
				vertical-align: top;
				color: $grey3;
			}

			.profile-interests, .profile-skills, .profile-location, .profile-work{

				.profile-label{
					display: inline-block;
					width: 100px;
					vertical-align: top;
				}

			}

			.profile-skills{

				.profile-field{
					width: 60%;
				}
			}

			.profile-interests{
				.profile-field{
					text-transform: capitalize;
				}
			}

		.profile-about, .profile-meet{

				.profile-label{
					margin-bottom: 0.5em;
				}

				.profile-field{
					height: 80px;
					width: 100%;
				}
			}
		}
	}
}

#info-edit-button{
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 900;
}

.profile-cover{
	width: 100%;
}

.profile-cover img{
	width: 100%;
}

.block{
	background-color: $white;
	padding: 10px;
	margin-bottom: 1em;
}

.profile-basic{
	font-weight: 400;

	a:link, a:visited, a:hover, a:active{
		color: $black;
	}
}

.profile-name{
	display: inline-block;
	width: 69%;
	text-transform: uppercase;
}

.profile-age{
	display: inline-block;
	width: 29%;
	color: $grey3;
	text-align: right;
}

.connections-count{
	color: $blue-main;
	font-size: 0.9em;
}

#block-profile-info{
	overflow: hidden;
	background-color:$white
}

.profile-label{
	font-weight: 400;
	text-transform: uppercase;
	color: $black;
}

.edit-profile-info {
	position: relative;
	height: 290px;
	padding: 20px;
	overflow: hidden;
}

.profile-buttons{
	margin-bottom: 1em;
}

.profile-buttons button{
	padding: 5px 20px;
}

#connect-btn{
	display: inline-block;
	float: left;
}

.profile-buttons button:last-of-type{
	float: right;
}

.profile-friends{

	margin-top: 15px;

	ul{
		list-style: none;
		padding: 0;
		margin-top: 1em;
	}

	.friend-thumb{
		width: 65px;
		height: 65px;
		display: inline-block;
		margin: 3%;
	}
}
