.col{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

.profile-text-top-left {
	display: inline;
}

.profile-left-col{
	width: 29%;
	padding-right: 5%;
}

.profile-right-col{
	width: 70%;

	.block{
		margin-bottom: 1em;
	}

	#profile-box{
		display: none;
		width: 100%;
		background-color: $white;

		.inline-buttons{
			padding: 0;

			#cancel-edit{
				display: inline-block;
				font-weight: 400;
			}
		}
	}

	#main-profile-info{
		background-color: $white;
	}

	#main-profile-info, #profile-box{

		.left{
			width: 39%;
		}

		.right{
			width: 55%;
			margin-left: 4%;
			text-align: left;
		}

		.col{

			vertical-align: top;

			.profile-field{
				display: inline-block;
				vertical-align: top;
				color: $grey3;
			}

			.profile-skills, .profile-location, .profile-work{

				.profile-label{
					display: inline-block;
					width: 100px;
					vertical-align: top;
				}

			}

			.profile-skills{

				.profile-field{
					width: 60%;
				}
			}

			.profile-interests{
				.profile-field{
					text-transform: capitalize;
				}
			}

			.profile-interests, .profile-about, .profile-meet{

				.profile-label{
					margin-bottom: 0.5em;
				}

				.profile-field{
					height: 80px;
					width: 100%;
				}
			}
		}
	}
}

.profile-availability{

	margin-top: 10px;

  	.daybox-grey{
  		background-color: $grey;
  	}

  	.daybox-blue{
  		background-color: $blue-main;
  	}

	.day-box{

		display: inline-block;
		color: $white;
		text-transform: uppercase;
		position: relative;
		width: 70px;
		height: 70px;
		margin-right: 14px;
		margin-top: 10px;
		cursor: pointer;
		font-size: 20px;
		z-index: 1;


		.letter{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			text-decoration: none;
		}

		#button{
			background-color: $grey;
			color: $grey3;
		}

		.avail_user{
			width: 170px;
			min-height: 120px;
			background-color: $grey4;
			color: $black;
			text-align: center;
			padding: 10px 5px;
			position: absolute;
			z-index: 1000;
			top: 0;
			left: 50%;
			margin-left: -100px;
			transition: opacity 0.3s;
			transform: translate(0, -100%);
			font-size: 12px;
			display: none;

			#label{
				font-size: 14px;
			}

			.remove-availability-form{
				display: inline-block;
				font-size: 12px;
			}

			.avail-container{
				border-top: 1px dashed black;
				padding-top: 5px;
				margin-top: 5px;

				.non-btn{
					margin-left: 10px;

					.action-icon{
						position: relative;
						display: inline-block;
						width: 10px;
						height: 10px;
						vertical-align: middle;

						.line{
							width: 10px;
							height: 1px;
							bottom: 50%;
							left: 0;
							background-color: $red;
						}

						#reject-line-1{
							-moz-transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
						}

						#reject-line-2{
							-moz-transform: rotate(-45deg);
							-webkit-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
					}

					.action-icon:hover{
						cursor: pointer;
					}

					.action-icon:hover .line{
						cursor: pointer;
						background-color: $black;
					}
				}
			}
		}
	}

	.edit-day-box{
		display: none;
		margin-top: 15px;

		.profile-field-outer{
			width: 50%;

			.profile-field{
				margin-top: 0.5em;
			}
		}
	}
}

.day-box:last-of-type{
	margin-right: 0;
}

#info-edit-button, #avail-edit-button{
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

#info-edit-button, #avail-edit-button{
	z-index: 900;
}

.profile-cover{
	width: 100%;
}

.profile-cover img{
	width: 100%;
}

.block{
	background-color: $white;
	padding: 10px;
	margin-bottom: 1em;
}

.profile-basic{
	font-weight: 400;

	a:link, a:visited, a:hover, a:active{
		color: $black;
	}
}

.profile-name{
	display: inline-block;
	width: 69%;
	text-transform: uppercase;
}

.profile-age{
	display: inline-block;
	width: 29%;
	color: $grey3;
	text-align: right;
}

.connections-count{
	color: $blue-main;
	font-size: 0.9em;
}

.profile-label{
	font-weight: 400;
	text-transform: uppercase;
	color: $black;
}

.availability-info {
	position: relative;
	background-color: $white;
	padding: 20px;
	margin-bottom: 1em;
}

.edit-profile-info {
	position: relative;
	padding: 10px;
}

.profile-buttons{
	margin-bottom: 1em;
}

.profile-buttons button{
	padding: 5px 20px;
}

#connect-btn{
	display: inline-block;
	float: left;
}

.profile-buttons button:last-of-type{
	float: right;
}

.profile-friends{

	margin-top: 15px;

	ul{
		list-style: none;
		padding: 0;
		margin-top: 1em;
	}

	.friend-thumb{
		width: 65px;
		height: 65px;
		display: inline-block;
		margin: 3%;
	}
}