@import 'colors';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: "Open Sans", sans-serif;
	background-color: $background;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}

.clear{
	clear: both;
}

.light{
	font-weight: 300;
}

.page-title{
	font-size: 1.4em;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 1em;
}

.block-title{
	font-size: 1.2em;
	text-transform: uppercase;
}

@import 'links';
@import 'forms';
@import 'homepage';
@import 'flash';
@import 'nav';
@import 'profile';
@import 'layout';
@import 'buttons';
@import 'notifications';
@import 'friends';
@import 'menu_button';
@import 'messenger';