{% extends 'base.html' %}
{% block content %}
	<div class='content'>
		<div class='block account'>
			<div class='heading-columns'>
				<h1 class='page-block-title'>Account</h2>
			</div>
			<div class='left'>
				<div class='account-info' id='account-main'>
					<div class='account-field'>
						<div class='label'>
							Name
						</div>
						<div class='field'>
							<span id='fname-main'>{{ user.fname }}</span> <span id='lname-main'>{{ user.lname }}</span>
						</div>
					</div>
					<div class='account-field'>
						<div class='label'>
							Username
						</div>
						<div class='field'>
							<span id='username-main'>{{ user.username }}</span>
						</div>
					</div>
					<div class='account-field'>
						<div class='label'>
							Email
						</div>
						<div class='field'>
							<span id='email-main'>{{ user.email }}</span>
						</div>
					</div>
					<div class='account-field'>
						<div class='label'>
							Birthday
						</div>
						<div class='field'>
							<span id='birthday-main'>{{ user.birthday.strftime('%B %e, %Y') }}</span>
						</div>
					</div>
				</div>
				<div class='account-info' id='account-form'>
					<form id='update-account-form' action="" method="post">
						{{ accform.hidden_tag() }}
						<div class='account-field'>
							<div class='label'>
								Name
							</div>
							<div class='field field-inline'>
								{{ accform.fname(value=user.fname) }}
							</div>
							<div class='field field-inline'>
								{{ accform.lname(value=user.lname) }}
							</div>
							<div class='error-container'>
								{% for error in accform.fname.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
								{% for error in accform.lname.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='account-field'>
							<div class='label'>
								Username
							</div>
							<div class='field'>
								{{ accform.username(value=user.username) }}
							</div>
							<div class='error-container'>
								{% for error in accform.username.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='account-field'>
							<div class='label'>
								Email
							</div>
							<div class='field'>
								{{ accform.email(value=user.email) }}
							</div>
							<div class='error-container'>
								{% for error in accform.email.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='account-field'>
							<div class='label'>
								Birthday
							</div>
							<div class='field'>
								{{ accform.birthday(value=user.birthday) }}
							</div>
							<div class='error-container'>
								{% for error in accform.email.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='account-buttons inline-buttons' id='account-btns-update'>
							{{ accform.submit(id='update-account-submit', value="Update", class='button button-1', id='account-update-btn') }}
					</form>		
							<form onsubmit="return confirm('Are you sure you want to delete your account?');" class="delete-acc-form" action="/delete_account/" method="post">
								<button type="submit" class='button button-4'>Delete Account</button>
							</form>
						</div>
				</div>
				<div class='account-buttons inline-buttons' id='account-btns-main'>
					<button class='button button-1' id='edit-account-btn'>Edit</button>
					<form onsubmit="return confirm('Are you sure you want to delete your account?');" class="delete-acc-form" action="/delete_account/" method="post">
						<button type="submit" class='button button-4'>Delete Account</button>
					</form>
				</div>
			</div>
			<div class='right'>
				<h2 class='block-title'>Change Password</h2>
				<div class='update-password'>
					<form id='update-password-form' action="" method="post">
						{{ pswform.hidden_tag() }}
						<div class='form-field'>
							{{ pswform.password(placeholder="new password") }}
							<div class='error-container'>
								{% for error in pswform.password.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='form-field'>
							{{ pswform.password_repeat(placeholder="repeat password") }}
							<div class='error-container'>
								{% for error in pswform.password_repeat.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						{{ pswform.submit(id='update-password-submit', value="Update", class='button button-1', id='password-update-btn') }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}