<html>
	<head>
		{% if title %}
		<title>{{ title }} | Spot Me</title>
		{% else %}
		<title>Spot Me</title>
		{% endif %}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	<body>
		<div id='flash-container'>
			{% with messages = get_flashed_messages() %}
        	{% if messages %}
        	<ul class='flash-list'>
            	{% for message in messages %}
            	<li class='flash-item'>{{ message }}</li>
            	{% endfor %}
        	</ul>
        	{% endif %}
        	{% endwith %}
		</div>
		{% if (request.path != "/" and request.path != "/login" and request.path != "/register") %}
			<nav>
				<div id='nav-left'>
					<a href="{{ url_for('home') }}">
						<h1 id='nav-title'>
							<span id='nav-title-1'>Spot</span>
							<span id='nav-title-2'>Me</span>
						</h1>
					</a>
				</div>
				<div id='nav-right'>
					<ul class='nav-list'>
						{% if current_user.is_authenticated %}
						<li class='nav-item' id='message-notifictions'>
							{% if notifications['unread_msgs_count'] %}
							<div id='unread-msgs-count' class='notification-count'>
								{{ notifications['unread_msgs_count'] }}
							</div>
							{% endif %}
							<img class='nav-icon' src="../static/img/message.png" />
							<div class='notification-overlay' id='msg-notification-overlay'></div>
							{% if notifications['unread_conversations'] %}
								<div class='drop-down' id='drop-down-messages'>
									<ul>
										{% for conversation in notifications['unread_conversations'] %}
											<li>
												<a href="{{ url_for('conversation', id=conversation['Conversation'].id) }}">
													<div class='left'>
														<div class='friend-thumb'>
															<img src="{{ conversation['User'].avatar(75) }}" />
														</div>
													</div>
													<div class='right'>
														<div class='name'>
															{{ conversation['User'].fname }}
														</div>
														<div class='recent-msg'>
															{{ conversation['Message'].body }}
														</div>
													</div>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</li>
						<li class='nav-item' id='friend-notifications'>
							{% if notifications['pending_recieved'] %}
							<div id='friend-request-count' class='notification-count'>
								{{ notifications['total_pending_recieved'] }}
							</div>
							{% endif %}
							<img class='nav-icon' src="../static/img/person.png" />
							<div class='notification-overlay' id='friend-notification-overlay'></div>
							{% if notifications['pending_recieved'] %}
								<div class='drop-down' id='drop-down-friends'>
									<ul>
										{% for friend in notifications['received_friend_requests'] %}
											<li>
												<a href="{{ url_for('user', user_id=friend.id) }}">
													<div class='left'>
														<div class='friend-thumb'>
															<img src="{{ friend.avatar(75) }}" />
														</div>
													</div>
													<div class='middle'>
														{{ friend.fname }} {{ friend.lname }}
													</div>
												</a>
												<div class='right'>
													<form class="accept-friend-notification" action="/accept_friend" method="post">
														<input type="hidden" name="friend_id" class='accept-hidden' value="{{ friend.id }}" data-friend="{{ friend.id }}">
														<button type="submit">
															<div class='action-icon accept'>
																<div class='line' id='accept-line-1'></div>
																<div class='line' id='accept-line-2'></div>
															</div>
														</button>
													</form>
													<form class="delete-friend-request-form" action="/delete_friend_request" method="post">
														<input type="hidden" name="friend_id" value="{{ friend.id }}" data-friend="{{ friend.id }}">
														<button type="submit">
															<div class='action-icon reject'>
																<div class='line' id='reject-line-1'></div>
																<div class='line' id='reject-line-2'></div>
															</div>
														</button>
													</form>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</li>
						<li class='nav-item' id='notifications'>
							<img class='nav-icon' src="../static/img/notifications.png" />
						</li>
						<li class='nav-item' id='search-icon'>
							<img class='nav-icon' src="../static/img/search.png" />
						</li>
						<li class='nav-item' id='menu'>
							<div id='menu-btn'>
								<div class='menu-line' id='menu-line-1'>
								</div>
								<div class='menu-line' id='menu-line-2'>
								</div>
								<div class='menu-line' id='menu-line-3'>
								</div>
							</div>
							<div class='drop-down' id='drop-down-menu'>
								<ul>
									<li>
										{% if notifications['recent_conversation'] %}
											<a href="{{ url_for('conversation', id=notifications['recent_conversation']) }}">Messages</a>
										{% else %}
											<a href="{{ url_for('new_conversation') }}">Messages</a>
										{% endif %}
									</li>
									<li>
										<a href="{{ url_for('discover') }}">Discover</a>
									</li>
									<li>
										<a href="{{ url_for('user', user_id=current_user.id) }}">Profile</a>
									</li>
									<li>
										<a href="{{ url_for('account') }}">Account</a>
									</li>
									<li>
										<a href="{{ url_for('logout') }}">Logout</a>
									</li>
								</ul>
							</div>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		{% endif %}
		{% block content %}{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/js/main.js"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>