{% extends "profile.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(cols=50, rows=4) }}<br>
            {% for error in form.about.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.meet.label }}<br>
            {{ form.meet(cols=50, rows=2) }}<br>
            {% for error in form.meet.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.skills.label }}<br>
            {{ form.skills(cols=30, rows=1) }}<br>
            {% for error in form.skills.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(cols=30, rows=1) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.work.label }}<br>
            {{ form.work(cols=50, rows=1) }}<br>
            {% for error in form.work.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.interests.label }}<br>
            {{ form.interests(cols=30, rows=2) }}<br>
            {% for error in form.interests.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
