{% extends 'event_base.html' %}

{% block middle %}
<div class='block event-block'>
	<div class='outer'>
		<div class='inner event-info'>
			<h1 id='event-title' class='page-title-large' data-eventid="{{ event.id }}" data-usereventid="{{ user_event.id }}">{{ event.title }}</h1>
			<div class='event-details'>
				<div class='event-field'>
					<div class='label'>
						Date
					</div>
					<div class='field'>
						{{ event.date.strftime('%B %d, %Y') }}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						Start Time
					</div>
					<div class='field'>
						{{ event.start_time.strftime('%-I:%M %p') }}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						End Time
					</div>
					<div class='field'>
						{{ event.end_time.strftime('%-I:%M %p') }}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						Location
					</div>
					<div class='field'>
						{% if event.location %}
							{{ event.location }}
						{% endif %}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						Notes
					</div>
					<div class='field'>
						{% if event.notes %}
							{{ event.notes }}
						{% endif %}
					</div>
				</div>
			</div>
			{% if user_event.accepted %}
				<div class='event-buttons inline-buttons' id='event-btns-main'>
					<button class='button button-1' id='edit-event-btn'>Edit</button>
					<form onsubmit="return confirm('Are you sure you want to remove yourself from this event?');" class="remove-event-form" action="{{ url_for('remove_event', user_event_id=user_event.id) }}" method="post">
						<button type="submit" class='button button-4'>Remove</button>
					</form>
				</div>
			{% endif %}
		</div>
	</div>
	<div class='outer'>
		<div class='inner invites'>
			{% if length == 1 %}
				<h2 class='page-title'>Invited</h2>
				You have not invited anyone to this event.
				<ul>
				</ul>
				<form class="add-invite-form" action="/add_invite/" method="post">
					<button type='submit' class='non-btn'>+ Add More Friends</button>
				</form>
			{% elif length == 2 and not user_event.accepted %}
				{% if received_invitation %}
					<div class='invitation-detail'>
						Invitation sent by {{ received_invitation.sender.fname }} {{ received_invitation.sender.lname }}
					</div>
					<div class='event-buttons inline-buttons'>
						<form class="accept-invitation-form" action="{{ url_for('accept_invitation', user_event_id=user_event.id) }}" method="post">
							<button type="submit" class='button button-1'>Accept</button>
						</form>
						<form class="decline-invitation-form" action="{{ url_for('decline_invitation', user_event_id=user_event.id) }}" method="post">
							<button type="submit" class='button button-5'>Decline</button>
						</form>
					</div>
				{% elif sent_invitation %}
					<h2 class='page-title'>Invited</h2>
					<div class='invitation-detail'>Invitation sent to {{ sent_invitation.receiver.fname }} {{ sent_invitation.receiver.lname }}</div>
				{% endif %}
			{% else %}
				<h2 class='page-title'>Invited</h2>
				<ul class='invite-list'>
				{% for user_event in event.user_events %}
					<li class='invited-user'>
					{% if user_event.user.id != current_user.id %}
						<a href="{{ url_for('user', user_id=user_event.user.id) }}">
							{{ user_event.user.fname }} {{ user_event.user.lname }} -
							{% if user_event.accepted == 0 %}
								Pending
							{% else %}
								Accepted
							{% endif %}
						</a>
					{% endif %}
					</li>
				{% endfor %}
				</ul>
				{% if not user_event.accepted and received_invitation %}
					<div class='event-buttons inline-buttons'>
						<form class="accept-invitation-form" action="{{ url_for('accept_invitation', user_event_id=user_event.id) }}" method="post">
							<button type="submit" class='button button-1'>Accept</button>
						</form>
						<form class="decline-invitation-form" action="{{ url_for('decline_invitation', user_event_id=user_event.id) }}" method="post">
							<button type="submit" class='button button-5'>Decline</button>
						</form>
					</div>
				{% else %}
					<button class='non-btn add-friends'>+ Add More Friends</button>
					<form class='add-invite-form' action="{{ url_for('add_invite', event_id=event.id, sender_id=current_user.id) }}" method="post">
						{{ friendform.hidden_tag() }}
						<div class='form-field'>
							{{ friendform.name(placeholder="name") }}
							<div class='error-container'>
								{% for error in friendform.name.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						{{ friendform.submit(id='add-friend-submit', value="Invite", class='button button-5') }}
					</form>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}