{% extends 'user.html' %}

{% block right %}
	<div class='col profile-right-col'>
		<div class='friends block'>
			<h2 class='block-title'>Connections</h2>
			{% if total_friends == 0 %}
				<div class='message'>
					{{ user.fname }} does not have any connections
				</div>
			{% else %}
				<ul>
					{% for friend in friends %}
					<li>
						<a href="{{ url_for('user', user_id=friend.id) }}">
							<div class='left'>
								<div class='friend-thumb'>
									<img src="{{ friend.avatar(75) }}" />
								</div>
							</div>
						</a>
						<div class='right'>
							<a href="{{ url_for('user', user_id=friend.id) }}">
								<div class='friends-name'>
									{{ friend.fname }} {{ friend.lname }}
								</div>
							</a>
							<div class='friends-action'>
								{% if current_user.id == user.id %}
									<form id="unfriend-form" action="/unfriend" method="post">
										<input type="hidden" name="user_id" value="{{ friend.id }}" data-friend="{{ friend.id }}">
										<button type="submit" class='button button-3' id="unfriend-btn">Unfriend</button>
									</form>
								{% endif %}
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}