{% extends 'base.html' %}

{% block content %}
	<div class='content'>
		<div class='block conversations'>
		</div>
		<div class='block conversation'>
			<div class='conversation-messages'>
				<div class='conversation-inner'>
					{% for message in messages %}
						<div class='message-outer'>
						{% if message.sender == current_user.id %}
							<div class='message message-1'>
						{% else %}
							<div class='message message-2'>
						{% endif %}
								{{ message.body }}
							</div>
							<div class='clear'></div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class='compose-message'>
				<form id='new-message' action="/new_message" method="post">
					<input type="hidden" id='conversation-id' data-conversation="{{ conversation.id }}">
					<textarea name='body' id='new-message-body' placeholder='Write a message...'></textarea>
				</form>
			</div>
		</div>
		<div class='block conversation-details'>
		</div>
	</div>
{% endblock %}