{% extends 'message_base.html' %}

{% block right %}
	<div class='block conversation'>
		<div class='conversation-messages'>
			{% if messages[0] %}
				{% set ns = namespace(day = messages[0].timestamp.day) %}
				<div class='message-date'>
					{{ messages[0].timestamp.month }}/{{ messages[0].timestamp.day }}/{{ messages[0].timestamp.year }}
				</div>
				{% for message in messages %}
					{% if ns.day != message.timestamp.day %}
						<div class='message-date'>
							{{ message.timestamp.month }}/{{ message.timestamp.day }}/{{ message.timestamp.year }}
						</div>
						{% set ns.day = message.timestamp.day %}
					{% endif %}
					<div class='message-outer'>
					{% if message.sender == current_user.id %}
						<div class='message message-1'>
					{% else %}
						<div class='message message-2'>
					{% endif %}
							{{ message.body }}
						</div>
					</div>
					<div class='clear'></div>
				{% endfor %}
			{% endif %}
		</div>
		<div class='compose-message'>
			<form id='new-message' action="/new_message" method="post">
				<input type="hidden" id='conversation-id' data-conversation="{{ conversation.id }}">
				<textarea name='body' id='new-message-body' placeholder='Write a message...'></textarea>
			</form>
		</div>
	</div>
{% endblock %}
{% block details %}
	<div class='outer'>
		<div class='friend-details inner'>
			<div id="user_id" data-userid="{{ user_2.id }}"></div>
			<a href="{{ url_for('user', user_id=user_2.id) }}">
				<div class='left friend-thumb'>
					<img src='{{ user_2.avatar(75) }}' />
				</div>
			</a>
			<div class='right'>
				<div class='name'>
					{{ user_2.fname }}
				</div>
			</div>
		</div>
	</div>
	<div class='outer'>
		<div class='new-event inner'>
			<h2>New Event</h2>
			<form id='new-event-form' action="" method="post">
				{{ eventform.hidden_tag() }}
				<div class='event-field'>
					<div class='label'>
						Title
					</div>
					<div class='field'>
						{{ eventform.title }}
					</div>
					<div class='error-container'>
						{% for error in eventform.title.errors %}
							<div class="validation-error">{{ error }}</div>
						{% endfor %}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						Date
					</div>
					<div class='field'>
						{{ eventform.date }}
					</div>
					<div class='error-container'>
						{% for error in eventform.date.errors %}
							<div class="validation-error">{{ error }}</div>
						{% endfor %}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						Start Time
					</div>
					<div class='field'>
						{{ eventform.start_time }}
					</div>
					<div class='error-container'>
						{% for error in eventform.start_time.errors %}
							<div class="validation-error">{{ error }}</div>
						{% endfor %}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						End Time
					</div>
					<div class='field'>
						{{ eventform.end_time }}
					</div>
					<div class='error-container'>
						{% for error in eventform.start_time.errors %}
							<div class="validation-error">{{ error }}</div>
						{% endfor %}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						Location
					</div>
					<div class='field'>
						{{ eventform.location }}
					</div>
					<div class='error-container'>
						{% for error in eventform.location.errors %}
							<div class="validation-error">{{ error }}</div>
						{% endfor %}
					</div>
				</div>
				<div class='event-field'>
					<div class='label'>
						Notes
					</div>
					<div class='field block-field'>
						{{ eventform.notes }}
					</div>
					<div class='error-container'>
						{% for error in eventform.notes.errors %}
							<div class="validation-error">{{ error }}</div>
						{% endfor %}
					</div>
				</div>
				{{ eventform.submit(id='new-event-submit', value="Send", class='button button-1', id='new-event-btn') }}
			</form>
		</div>
	</div>
{% endblock %}