{% include 'base.html' %}

{% block content %}
	<div class='content'>
		<div class='block conversations'>
			<ul id='conversation-list'>
				{% for conversation in conversations %}
					<a class='link-2' href="{{ url_for('conversation', id=conversation['Conversation'].id) }}">
						<li id="conversation-{{ conversation['Conversation'].id }}">
							<div class='left friend-thumb'>
								<img src='{{ conversation["User"].avatar(75) }}' />
							</div>
							<div class='right'>
								<div class='name'>
									{{ conversation["User"].fname }}
								</div>
								<div class='recent-msg'>
									{% set msgs = conversation["Conversation"].messages %}
									{% set rev_msg = msgs[::-1][0] %}
									{% if rev_msg %}
										{% if rev_msg.read == 0 and rev_msg.sender != current_user.id %}
											<span class='weight-bold'>{{ rev_msg.body }}</span>
										{% else %}
											{{ rev_msg.body }}
										{% endif %}
									{% endif %}
								</div>
							</div>
						</li>
					</a>
				{% endfor %}
			<ul>
		</div>
{% block right %}{% endblock %}
		<div class='block conversation-details sidebar'>
		{% block details %}
		{% endblock %}
		{% block event %}
		{% endblock %}
					<h2>New Event</h2>
					<form id='new-event-form' action="" method="post">
						{{ eventform.hidden_tag() }}
						<div class='event-field'>
							<div class='label'>
								Title
							</div>
							<div class='field'>
								{{ eventform.title }}
							</div>
							<div class='error-container'>
								{% for error in eventform.title.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='event-field'>
							<div class='label'>
								Date
							</div>
							<div class='field'>
								{{ eventform.date }}
							</div>
							<div class='error-container'>
								{% for error in eventform.date.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='event-field'>
							<div class='label'>
								Start Time
							</div>
							<div class='field'>
								{{ eventform.start_time }}
							</div>
							<div class='error-container'>
								{% for error in eventform.start_time.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='event-field'>
							<div class='label'>
								End Time
							</div>
							<div class='field'>
								{{ eventform.end_time }}
							</div>
							<div class='error-container'>
								{% for error in eventform.start_time.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='event-field'>
							<div class='label'>
								Location
							</div>
							<div class='field'>
								{{ eventform.location }}
							</div>
							<div class='error-container'>
								{% for error in eventform.location.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class='event-field'>
							<div class='label'>
								Notes
							</div>
							<div class='field block-field'>
								{{ eventform.notes }}
							</div>
							<div class='error-container'>
								{% for error in eventform.notes.errors %}
									<div class="validation-error">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						{{ eventform.submit(id='new-event-submit', value="Send", class='button button-1', id='new-event-btn') }}
					</form>
				</div>
			</div>
			<a href="{{ url_for('new_conversation') }}">
				<div class='compose-msg add-btn'>
					<div class='line plus-line plus-line-1'></div>
					<div class='line plus-line plus-line-2'></div>
				</div>
			</a>
		</div>
	</div>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="/static/js/messages.js"></script>
{% endblock %}