{% extends 'user.html' %}

{% block right %}
<div class='col profile-right-col'>
	<div class='block profile-info'>
		<div class='left-col'>
			<div class='profile-skills'>
				<div class='profile-label'>Skill Level</div>
				<div class='profile-text'>{{ profile.skill }}</div>
			</div>

		</div>

		<div class='right-col'>
			<div class='profile-about'>
				<div class='profile-label'>About</div>
				<div class='profile-text'>{{ profile.about }}</div>
			</div>

		</div>


	</div>
</div>
{% endblock %}
