{% extends 'user.html' %}

{% block right %}
<div class='col profile-right-col'>
	<div class='block profile-info'>
		<div class='overlay' id='edit-info-overlay'></div>
		<button class='button button-1' id='info-edit-button'>Edit</button>
		<div class='left-col'>
			<div class='profile-skills'>
				<div class='profile-label'>Skill Level</div>
				<div class='profile-text-top-left'>{{ profile.skills }}</div>
			</div>
			<div class='profile-location'>
				<div class='profile-label'>location</div>
				<div class='profile-text-top-leftt'>{{ profile.location }}</div>
			</div>

			<div class='profile-work'>
				<div class='profile-label'>Work</div>
				<div class='profile-text-top-left'>{{ profile.work }}</div>
			</div>
			<div class='profile-interests'>
				<div class='profile-label'>interests</div>
				<div class='profile-text'>{{ profile.interests }}</div>
			</div>

		</div>

		<div class='right-col'>
			<div class='profile-about'>
				<div class='profile-label'>About</div>
				<div class='profile-text'>{{ profile.about }}</div>
			</div>
			<div class='profile-meet'>
				<div class='profile-label'>looking to meet</div>
				<div class='profile-text'>{{ profile.meet }}</div>
			</div>
		</div>


	</div>
</div>
<div class='overlay' id='profile-overlay' ></div>
	<div class='overlay-form' id='profile-overlay-form'>
		<h1>Edit Profile</h1>
		<form action="" method="post">
				{{ form.hidden_tag() }}
				<p>
						{{ form.username.label }}<br>
						{{ form.username(size=32) }}<br>
						{% for error in form.username.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				</p>
				<p>
						{{ form.about.label }}<br>
						{{ form.about(cols=50, rows=4) }}<br>
						{% for error in form.about.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				</p>
				<p>
						{{ form.meet.label }}<br>
						{{ form.meet(cols=50, rows=2) }}<br>
						{% for error in form.meet.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				</p>
				<p>
						{{ form.skills.label }}<br>
						{{ form.skills(cols=30, rows=1) }}<br>
						{% for error in form.skills.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				</p>
				<p>
						{{ form.location.label }}<br>
						{{ form.location(cols=30, rows=1) }}<br>
						{% for error in form.location.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				</p>

				<p>
						{{ form.work.label }}<br>
						{{ form.work(cols=50, rows=1) }}<br>
						{% for error in form.work.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				</p>
				<p>
						{{ form.interests.label }}<br>
						{{ form.interests(cols=30, rows=2) }}<br>
						{% for error in form.interests.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
				</p>


				<p>{{ form.submit() }}</p>
		</form>
	</div>

{% endblock %}
