{% extends 'base.html' %}

{% block content %}
	<div class='content'>
		<div class='col profile-left-col'>
			<div class='block profile-cover'>
				<img src="../static/img/cover.jpg" />
			</div>
			<div class='block profile-basic'>
				<div class='profile-name'>{{ user.fname }} {{ user.lname }}</div>
				<div class='profile-age'>20</div>
			</div>
			{% if session.current_user.id != user.id %}
				<div class='profile-buttons'>
					{% if are_friends %}
						<button class='button button-2 disabled'>Friends</button>
					{% elif is_pending_sent %}
						<button class='button button-2 disabled'>Pending</button>
					{% elif is_pending_recieved %}
						<form id="accept-friend-form" action="/accept_friend" method="post">
							<input type="hidden" name="user_id" value="{{ user.id }}">
							<button type="submit" class='button button-2' id="connect-btn">Accept</button>
						</form>
					{% else %}
						<form id="add-friend-form" action="/add_friend" method="post">
							<input type="hidden" name="user_id" value="{{ user.id }}">
							<button type="submit" class='button button-2' id="connect-btn">Connect</button>
						</form>
					{% endif %}
					<button class='button button-2'>Message</button>
					<div class='clear'></div>
				</div>
			{% endif %}
			<div class='block profile-friends'>
				<div class='connections-count'>
					<a href="{{ url_for('friends', user_id=current_user.id) }}">
						{{ total_friends }} connections
					</a>
				</div>
				<div class='profile-friends'>
					<ul>
						<li>
							{% for friend in friends %}
							<a href="{{ url_for('user', username=friend.username) }}">
								<div class='friend-thumb'>
									
								</div>
							</a>
							{% endfor %}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class='col profile-right-col'>
			<div class='block profile-info'>
				<div class='profile-about'>
					<div class='profile-label'>About</div>
					<div class='profile-text'>{{ profile.about }}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script src="/static/js/add-friend.js"></script>
{% endblock %}